input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #575c5a;
  appearance: none;
}

.form-group {
  @media (--bp-sm) {
    margin-bottom: 40px;
  }
}

.multiselect {
  &__toggle {
    border: 0 none;
    display: inline-block;
    background: transparent;
    padding: 0 27px 0 10px;
    line-height: 40px;
    height: 36px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    border-bottom: 1px solid var(--color-text);
    text-align: left;
    font-style: italic;
    text-transform: none;
    outline: none;

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid var(--color-text);
      top: 50%;
      display: inline-block;
      right: 0.5em;
      position: absolute;
      margin-top: -0.2em;
    }
  }

  &__options {
    padding: 10px;
    text-align: left;
    display: none;

    @media (--bp-md) {
      background-color: white;
      position: absolute;
      box-shadow: 0 2px 4px rgba(0,0,0,0.2);
      padding: 10px 20px;
      z-index: 1;
    }

    & label {
      display: block;
      margin-bottom: 0;
      height: 28px;
      line-height: 30px;
      font-size: 14px;
    }
  }
}

.multiselect:hover {
  & .multiselect__options {
    display: block;
  }
}

.daterangepicker table {
  border-spacing: 4px;
  border-collapse: separate;
}

.daterangepicker td, .daterangepicker th {
  width: 16px;
  height: 16px;
}

.daterangepicker .daterangepicker_input {
  display: none;
}

.daterangepicker:before, .daterangepicker:after {
  display: none;
}

.daterangepicker .calendar th, .daterangepicker .calendar td {
  font-weight: normal;
}

.daterangepicker td.in-range {
  border-radius: 99em;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: var(--color-primary);
  border-radius: 99em;
}
.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background-color: color(var(--color-primary) tint(80%));
  border-radius: 99em;
}
.daterangepicker td.start-date.end-date {
  border-radius: 99em;
}

.multiinput {
  &__handle {
    display: block;
    height: 36px;
    line-height: 40px;
    border-bottom: 1px solid;
    font-size: 16px;
    text-decoration: none;
    color: #444;
    font-style: italic;
    cursor: pointer;

    &:hover {
      color: #444;
      text-decoration: none;
    }
  }

  &__inputs {
    display: none;
  }

  & label {
    margin: 0 2px;

    & span {
      display: block;
      font-weight: bold;
      font-size: 14px;
    }
  }

  & input {
    border: 1px solid;
    padding: 0 5px;
    font-size: 14px;
    width: 50px;
  }
}

.multiinput--expanded {
  & .multiinput__inputs {
    display: block;
    position: absolute;
  }

  & .multiinput__inputs {
    display: block;
    position: absolute;
    padding: 16px;
    background: white;
    box-shadow: 0 2px 6px #d6d6d6;
    z-index: 10;
  }
}

.form-control.cls-error {
  background: #fff7f7;
  border-color: #af0e0e;
}

.form-group.required .control-label:after {
   content:"*";
   color: #666;
}

.form-check-inline {
    display: inline-block;
}
