@font-face {
	font-family: 'Chaparral Pro';
	src: url('../fonts/ChaparralPro-Regular.eot');
	src: url('../fonts/ChaparralPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ChaparralPro-Regular.woff') format('woff'),
		url('../fonts/ChaparralPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Chaparral Pro';
	src: url('../fonts/ChaparralPro-Italic.eot');
	src: url('../fonts/ChaparralPro-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ChaparralPro-Italic.woff') format('woff'),
		url('../fonts/ChaparralPro-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Chaparral Pro';
	src: url('../fonts/ChaparralPro-Bold.eot');
	src: url('../fonts/ChaparralPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ChaparralPro-Bold.woff') format('woff'),
		url('../fonts/ChaparralPro-Bold.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Chaparral Pro", Helvetica, Arial, sans-serif;
  color: var(--color-text);
  font-size: 18px;
}

a {
  color: var(--color-primary);
  text-decoration: underline;

  &:hover {
    color: var(--color-primary);
  }
}

.anchor {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

pre {
  border-radius: 0;
}

figure {
  display: inline-block;
}

figcaption {
  margin-bottom: 10px;
  line-height: 1.2;
  margin-top: 0.4em;

}


label {
  font-weight: normal;
}

:root {
  --ornament {
    display: block;
    border-top-color: transparent;
    margin-top: 28px;
    margin-bottom: 32px;
    overflow: visible;

    &:before {
      background-image: url(../img/rule-ornament.png);
      background-position: 50% 0;
      background-repeat: no-repeat;
      background-color: transparent;
      height: 17px;
      display: block;
      width: 100%;
      margin-top: -9px;
    }
  }
}

.fence {
  border-left: 1px solid #999;
  display: inline;
}

.rule {
  border-top-color: transparent;
  margin-top: 10px;
  margin-bottom: 14px;
  overflow: visible;
  text-align: left;

  &:before {
    content: '';
    height: 1px;
    background-color: var(--color-primary);
    display: inline-block;
    vertical-align: top;
    width: 50px;
    margin-top: -1px;
  }

  &--centered {
    text-align: center;
  }

  &--inverse {
    &:before {
      background-color: white;
    }
  }

  &--ornament {
    @apply --ornament;
  }

  &--ornament-inverse {
    @apply --ornament;
    &:before {
      background-position: 50% 100%;
    }
  }
}

.section-title {
  color: var(--color-primary);
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

.lead {
  text-align: center;
  font-style: italic;

  @media (--bp-sm) {
    font-size: 18px;
  }
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
  display: none;
  font-size: 14px;

  @media (--bp-md) {
    display: block;
  }

  & >li+li:before {
    padding: 0 2px;
  }

  & a {
    color: var(--color-text);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & .active {
    color: var(--color-primary);
  }

  & .icon {
    margin-top: -0.4em;
    margin-right: 0.2em;
  }
}

.pagination {

  &>.disabled {
    &>a, &>a:hover {
      background-color: #eee;
      color: white;
    }
  }

  &>li {
    display: inline-block;

    & + li {
      margin-left: 4px;
    }

    &:first-child > a { border-radius: 99em; }
    &:last-child > a { border-radius: 99em; }


    &.active {
      & a {
        background-color: var(--color-primary);
      }
    }

    &>a {
      border-radius: 99em;
      width: 38px;
      height: 38px;
      padding: 0;
      text-align: center;
      line-height: 40px;
      background: #b6b6b6;
      color: white;
      font-weight: bold;
      border-width: 0;
    }
  }
}

h1, h2 {
  text-transform: uppercase;
  color: var(--color-primary);
  font-size: 24px;
  font-weight: normal;
}

h3 {
  color: var(--color-primary);
  font-size: 24px;
  font-weight: normal;
}

h4 {
  color: var(--color-primary);
  font-style: italic;
  font-size: 24px;
}

h5 {
  font-weight: 500;
  font-size: 18px;
}

main ul {
  padding-left: 1em;
}

article .media {
  margin: 20px -15px 20px;

  @media (--bp-sm) {
    margin-left: 0;
    margin-right: 0;
  }

  & img {
    max-width: 100%;

    @media (--bp-md) {
      max-width: 750px;
    }
  }
}

.details {
  padding: 0;

  & li {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    padding: 8px 0;
    line-height: 1;

    &:nth-child(even) {
      text-align: right;
    }

    @media (--bp-sm) {
      width: 32%;
      &:nth-child(even) {
        text-align: left;
      }
    }


  }
}

.text-lead {
  text-transform: none;
}

.text-primary {
  color: var(--color-primary);
}

.text-supplement {
  color: var(--color-primary);
  font-size: 24px;
  text-align: center;

  @media (--bp-sm) {
    text-align: left;
  }
}

.pile {
  padding-left: 0;

  & li {
    display: block;
    width: 100%;
    padding: 4px 0;
    text-align: left;
  }
}

.sched {
  padding-left: 0;

  & li {
    display: block;
    width: 100%;
    padding: 4px 0 4px 25px ;
    text-align: left;
  }
}

.spread {
  padding-left: 0;

  & li {
    display: block;
    padding: 8px 0;
    line-height: 1;
    vertical-align: top;

    @media (--bp-sm) {
      display: inline-block;
      width: 48%;
    }

    @media (--bp-md) {
      width: 32%;
    }

    &:nth-child(even) {

      @media (--bp-sm) {
        text-align: right;
      }

      @media (--bp-md) {
        text-align: initial;
      }
    }
  }
}

.spread--hasicons {
  & li {
    padding-left: 35px;

    & .icon {
      margin-left: -30px;
      position: relative;
      left: -5px;
    }
  }
}

.circle {
  border-radius: 999em;
  background-color: var(--color-primary);
  width: 46px;
  height: 46px;
  display: inline-block;
  color: #fff;
  text-align: center;
  line-height: 46px;
}

.inline-links {
  & a {
    display: block;
    line-height: 1.2;
    margin-bottom: 10px;

    @media (--bp-md) {
      display: inline;
    }

    & + a {
      @media (--bp-md) {
        margin-left: 20px;
      }
    }
  }
}

.apart {
  & li {
    margin-bottom: 20px;
  }
}

.inline-definition {
  & dt {
    display: inline-block;
  }
  & dd {
    display: inline-block;
  }

  & dd + dt {
    margin-left: 20px;
  }
}

