:root {
  --color-primary: #007a4e;
  --color-secondary: #b6b6b6;
  --color-tertiary: #d9d8ca;
  --color-text: #575c5a;
}

@custom-media --bp-sm (min-width: 768px);
@custom-media --bp-md (min-width: 992px);
@custom-media --bp-lg (min-width: 1200px);
@custom-media --bp-xl (min-width: 1400px);

