.drawer {
  &__knob {
    border-bottom: 1px solid #efefef;
    cursor: pointer;
    height: 40px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primary);
    font-size: 22px;
    margin-bottom: 0;
  }
}

.card {
  text-align: center;
  margin-bottom: 30px;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  outline: none;

  & > a {
    text-decoration: none;
    display: block;
    height: 100%;

    &:hover {
      text-decoration: none;
      background-color: var(--color-primary);

      & .card__body {
        color: white;
      }

      & hr:before {
        background-color: white;
      }

      & h4 {
        color: white;
      }
    }
  }
}

.card--filler {
  height: 0;
}

.card__head {
  position: relative;
  overflow: hidden;
  background-color: #e4e4e4;

  &:before {
    content: '';
    display: block;
    padding-bottom: 53%;
    width: 100%;
  }

  & img {
    width: 100%;
    position: absolute;
    bottom: -100%;
    top: -100%;
    left: -100%;
    right: -100%;
    margin: auto;
    min-height: 100%;
  }

  &__flag {
    position: absolute;
    background: color(var(--color-primary) alpha(-20%));
    top: 0;
    left: 0;
    z-index: 1;
    padding: 12px 20px 8px;
    line-height: 1;
    color: white;
  }
}

.card__body {
  padding: 20px;
  color: var(--color-text);
  line-height: 1.2;
  flex: 1 0 auto;

  & h3, & h4, & h5 {
    color: var(--color-primary);
    font-size: 20px;
    font-style: italic;

    & a {
      color: var(--color-primary);
      text-decoration: none;
    }
  }

  & h4 {
    & a {
      &:not(:first-child) {
        display: none;
      }
    }
  }

  & .addon {
    display: none;

    & h6 {
      font-weight: normal;
      font-size: 1em;
      text-decoration: underline;
    }

    & ul {
      padding-left: 0;
      list-style: none;
    }

    & button {
      margin-bottom: 8px;
      text-transform: none;
    }
  }
}

.card__link {
  & a {
    color: #575c5a;
  }
}

.modal .card__link {
  display: none;
}

.modal .card__body {
  & .addon {
    display: block;
  }
}

.card__footer {
  padding: 0 20px 20px;

  & .buttons {
    & .button {
      margin-bottom: 5px;
      text-transform: none;

      & + .button {
        display: none;

        @media (--bp-md) {
          display: inline-block;
          margin-left: 0;
        }

        @media (--bp-xl) {
          margin-left: 5px;
        }
      }
    }
  }
}

.card__actions {
  font-size: 0.9em;

  & a {
    text-decoration: none;
    margin: 0 5px;

    @media (--bp-md) {
      margin: 0 2px;
    }

    @media (--bp-lg) {
      margin: 0 5px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.card--leftie {
  text-align: left;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & .card {
    width: 100%;

    @media (--bp-sm) {
      width: 48%;
    }

    @media (--bp-md) {
      width: 24%;
    }
  }

  &:after {
    content: '';
    height: 0;

    @media (--bp-sm) { width: 32%; }
    @media (--bp-md) { width: 24%; }
  }
}

.cards-filter {
  margin-bottom: 20px;
  text-align: right;
  display: none;

  @media (--bp-md) {
    display: block;
  }

  & .input-radio {
    float: left;
    margin-top: 8px;
  }
}

.cards-set {
  &__title {
    background-color: white;
    height: 40px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primary);
    user-select: none;
    margin-bottom: 0;
    display: block;
    font-size: 22px;

    &--left {
      text-transform: none;
      font-style: italic;
      text-decoration: underline;
    }

    & .icon {
      transition: all 0.2s;
      transform: scale(1, 1);

      &--vflipped {
        transform: scale(1, -1);
      }
    }
  }

  &__footer {
    text-align: center;
    padding-bottom: 20px;
  }

  & .cards {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (--bp-sm) { width: 710px; padding-left: 0; padding-right: 0; }
    @media (--bp-md) { width: 940px; }
    @media (--bp-lg) { width: 1140px; }
    @media (--bp-xl) { width: 1350px; }
  }
}

.cards-set--list {
  background-color: #f2f2f2;

  & .cards-set__head {
    & .rule {
      display: none;
    }
  }

  & .cards {
    padding-bottom: 20px;

    & .card {
      margin-bottom: 0;
      background-color: transparent;

      & .card__head {
        display: none;
      }

      & .card__body {
        padding-bottom: 0;

        & hr {
          display: none;
        }

        & p {
          display: none;
        }
      }

      & .card__footer {
        padding-bottom: 0;

        & * {
          display: none;
        }
      }
    }
  }
}

.cards-set--inline {
  & .cards-set__title {
    border-bottom-width: 0;
    cursor: default;
    height: auto;

    & .icon {
      display: none;
    }
  }

  & .cards {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  & .card {
    @media (--bp-md) {
      width: 32%;
    }
  }
}
.cards-set--grid {
  & .cards {
  }

  & .list-tabular {
    & li {

      &:first-child {
        display: block;
      }

      &.others {
        display: block;
      }

      &.icons {
        display: block;
      }
    }
  }

  & .grid-hidden {
    display: none;
  }
}

.cards-set--inline.cards-set--list {
  & .cards-set__title {
    cursor: pointer;
    border-bottom-width: 1px;

    & .icon {
      display: inline-block;
    }
  }
}

.cards-set--compact {
  background-color: #f2f2f2;

  & .cards {
    padding-bottom: 20px;

    & .card {
      margin-bottom: 0;
      background-color: transparent;

      @media (--bp-sm) {
        /*width: 50%;*/
      }

      @media (--bp-md) {
        /*width: 25%;*/
      }

      & .card__head {
        display: none;
      }

      & .card__body {
        padding-bottom: 0;

        & p {
          display: none;
        }
      }
    }
  }
}

.cards-thead {
  display: none;
}

.list-tabular {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;

  & li {
    & span {
      color: var(--color-primary);
    }

    &.icons {
      padding: 10px 0;

      & .icon {
        margin: 0 1px;
      }
    }

    &.item-inline {
      display: inline-block;
      color: var(--color-primary);

      &:not(:last-child):after {
        content: ', ';
        white-space: pre;
      }

      & .icon {
        display: none;
      }
    }
  }

}

.list-tabular--alt {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;

  & li {
    & span {
      color: var(--color-primary);
    }

    &.icons {
      padding: 10px 0;

      & .icon {
        margin: 0 1px;
      }
    }
  }
}

.cards-set--detail {
  & .cards-thead {
    margin: auto;
    background: #f2f2f2;

    @media (--bp-md) {
      display: flex;
      align-items: center;
      line-height: 1;
      width: 940px;
      padding: 20px;
      margin-bottom: 10px;
    }

    @media (--bp-lg) { width: 1140px; }
    @media (--bp-xl) { width: 1350px; }

    & > div {
      text-align: center;
      font-size: 16px;
      color: var(--color-primary);
      flex: 1;

      @media (--bp-lg) {
        padding: 0 20px;
      }

      &:first-child {
        flex: 0 auto;
        width: 200px;
      }

      &:last-child {
        flex: 0 auto;
        width: 200px;

        @media (--bp-xl) {
          width: 300px;
        }
      }
    }
  }

  & .cards {

    & .card {
      width: 100%;

      @media (--bp-sm) {
        width: 48%;
      }

      @media (--bp-md) {
        width: 100%;
        margin-bottom: 10px;
        position: relative;
      }

      & .card__head {
        display: none;
      }

      &:nth-child(odd) {
        background-color: #ebebeb;
      }

      & .card__body {
        padding-bottom: 0;
        @media (--bp-md) {
          display: flex;
          align-items: center;
          padding: 20px;
        }

        & hr {
          @media (--bp-md) {
            display: none;
          }
        }

        & > p {
          display: none;
        }

        & h4 {

          @media (--bp-md) {
            margin: 0;
            text-align: left;
            flex: 0 auto;
            width: 200px;
          color: red;
          }

          & a {
            @media (--bp-md) {
              color: var(--color-text);
            }

            &:not(:first-child) {
              @media (--bp-md) {
                display: block;
                font-size: 0.8em;
                color: green !important;
                margin-top: 4px;
              }
            }
          }
        }
      }
    }

    & .card__footer {
      @media (--bp-md) {
        position: absolute;
        bottom: 0;
        width: 200px;
        padding-right: 0;
        text-align: left;
      }
    }

    & .list-tabular {
      padding-left: 0;

      @media (--bp-md) {
        display: flex;
        flex: 1 auto;
        align-items: center;
        margin-bottom: 0;
      }

      & li {
        list-style: none;
        flex: 1;

        @media (--bp-md) {
          font-size: 0;
        }

        &:first-child {
          @media (--bp-md) {
            font-size: 1em;
          }
        }

        &:last-child {
          @media (--bp-md) {
            width: 200px;
            flex: 0 auto;
          }
          @media (--bp-xl) {
            width: 300px;
          }
        }

        & span {
          @media (--bp-md) {
            color: var(--color-text);
            font-size: initial;
          }
        }
      }

    }
  }

  & .cards-set__footer {
    display: none;
  }

  & .detail-hidden {
    display: none;
  }

  & .cards .list-tabular li.detail-shown {
    font-size: 0.9em;
    line-height: 1;
    width: 300px;
    flex: 0 auto;
  }
}

.cards-set--detail-a {
  & .cards-thead {
    margin: auto;
    background: #f2f2f2;

    @media (--bp-md) {
      display: flex;
      align-items: center;
      line-height: 1;
      width: 940px;
      padding: 20px;
      margin-bottom: 10px;
    }

    @media (--bp-lg) { width: 1140px; }
    @media (--bp-xl) { width: 1350px; }

    & > div {
      text-align: center;
      font-size: 16px;
      color: var(--color-primary);
      flex: 1;

      @media (--bp-lg) {
        padding: 0 20px;
      }

      &:first-child {
        flex: 0 auto;
        width: 200px;
      }
    }
  }

  & .cards {

    & .card {
      width: 100%;
      text-align: left;

      @media (--bp-sm) {
        width: 48%;
      }

      @media (--bp-md) {
        width: 100%;
        margin-bottom: 10px;
        position: relative;
        text-align: center;
      }

      & .card__head {
        display: none;
      }

      &:nth-child(odd) {
        background-color: #ebebeb;
      }

      & .card__body {
        padding-bottom: 0;
        @media (--bp-md) {
          display: flex;
          align-items: center;
          padding: 20px;
        }

        & hr {
          @media (--bp-md) {
            display: none;
          }
        }

        & > p {
          display: none;
        }

        & h4 {
          @media (--bp-md) {
            margin: 0;
            text-align: left;
            flex: 0 auto;
            width: 200px;
          }

          & a {
            @media (--bp-md) {
              color: var(--color-text);
            }

            &:not(:first-child) {
              @media (--bp-md) {
                display: block;
                font-size: 0.8em;
                color: green !important;
                margin-top: 4px;
              }
            }
          }
        }

      }
    }

    & .card__footer {
      @media (--bp-md) {
        position: absolute;
        bottom: 0;
        width: 200px;
        padding-right: 0;
        text-align: left;
      }
    }

    & .list-tabular {
      padding-left: 0;

      @media (--bp-md) {
        display: flex;
        flex: 1 auto;
        align-items: center;
        margin-bottom: 0;
      }

      & li {
        list-style: none;
        position: relative;

        @media (--bp-md) {
          flex: 1;
          font-size: 0;
        }

        &:after {
          content: '';
        }

        &:first-child {
          font-size: 1em;

          &:before {
            content: 'total size';
            @media (--bp-md) {
              display: none;
            }
          }
        }

        &.item-inline {
          display: block;
          color: #575c5a;

          & .icon {
            display: inline-block;
            position: absolute;
            left: 60%;

            @media (--bp-md) {
              position: relative;
              left: auto;
            }
          }
        }

        & span {
          color: #575c5a;
          position: absolute;
          left: 60%;

          @media (--bp-md) {
            color: var(--color-text);
            position: relative;
            left: auto;
            font-size: initial;
          }
        }
      }

    }
  }

  & .cards-set__footer {
    & .detail-hidden {
      display: none;
    }
  }
}


.compare {
  position: relative;
}

.compare__toggle {
  cursor: pointer;
}

.compare--selected {
  & .compare__select {
    & .icon--form-checkbox {
      display: none;
    }

    & .icon--form-checkbox-checked {
      display: inline-block;
    }
  }

  & .buttons .button.compare__toggle {
    display: none;
  }
}

.compare__select {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding: 12px;
  cursor: pointer;
  display: none;
  z-index: 1;

  @media (--bp-md) {
    display: block;
  }
  & .icon--form-checkbox-checked {
    display: none;
  }
}

.sifter {
  text-align: center;
  position: relative;
  min-height: 50px;
}

.sifter__switch {
  display: none;
  border: 1px solid #8a8a8a;
  padding: 8px 12px 10px 6px;
  position: absolute;
  right: 0;
  top: 0;

  @media (--bp-sm) {
    display: block;
  }
}

.sifter__filter {
  padding: 16px 0 4px;
  border-bottom: 1px solid var(--color-primary);
  margin-bottom: 20px;
  display: inline-block;

  & > div {
    display: inline-block;
    margin-top: 0.2em;
  }

  & input[type=checkbox] {
    position: absolute;
    left: -999em;
  }

  & label {
    text-transform: uppercase;
    color: #aaa;
    margin: 0 5px;
    line-height: 1;
    cursor: pointer;
  }

  & input[type=checkbox]:checked + label {
    color: var(--color-primary);
  }
}
