.chart {
  display: flex;

  @media (--bp-md) {
    display: table;
    width: 100%;
  }

  & > thead, & > tbody {
    display: flex;
    flex-basis: 50%;

    & > tr {
      display: flex;
      flex-direction: column;

      @media (--bp-md) {
        display: table-row;
        background-color: #f6f6f6;
      }

      & th:first-child, & td:first-child {
        flex-basis: 100px;

        @media (--bp-md) {
          padding-left: 20px;
        }
      }

      & th:last-child, & td:last-child {
        @media (--bp-md) {
          padding-right: 20px;
          min-width: 120px;
        }
      }
    }
  }

  & > thead {
    @media (--bp-md) { display: table-header-group; }
  }

  & > tbody {
    @media (--bp-md) { display: table-row-group; }
  }

  & td, & th {
    padding: 5px;
    text-align: left;
    line-height: 1;
  }

  & th {
    font-weight: normal;
    color: var(--color-primary);
  }

  & .actions {
    display: flex;
    margin-bottom: 0.4em;

    & a {
      font-size: 13px;
      text-transform: uppercase;
      text-decoration: none;
      display: flex;
      align-items: center;
      padding-left: 22px;
      line-height: 1;

      & .icon {
        position: relative;
        margin-left: -22px;
        margin-right: 4px;
      }
    }
  }

  & .chart__spot {
    display: flex;
    line-height: 1;
    align-items: center;
    flex-basis: 50px;

    @media (--bp-md) {
      flex-direction: column;
      display: table-cell;
      text-align: center;
    }

    & .icon {
      width: 34px;
      height: 34px;
      margin-right: 10px;

      @media (--bp-md) {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
      }
    }
  }
}

.chart--floorplan {
  background: #f6f6f6;
  padding: 10px;
  margin-bottom: 10px;

  @media (--bp-md) {
    padding: 0;
    margin-bottom: 0;
  }

  & tbody {
    & tr {
      @media (--bp-md) {
        background-color: #ebebeb;
      }
    }
  }

  & tr {
    @media (--bp-md) {
      border-bottom: 5px solid white;
    }
  }

  & th, & td {
    @media (--bp-md) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  & th {
    @media (--bp-md) {
      width: 200px;
    }
  }

  & th.chart__spot {
    font-size: 10px;
    font-weight: bold;
    white-space: nowrap;
    text-transform: uppercase;

    @media (--bp-md) {
      font-size: 11px;
      width: 100px;
    }
  }
}

.chart--floorplan + .chart--floorplan {
  & thead {

    & > tr {
      border-bottom: 0;

      & > th {
        @media (--bp-md) {
          padding-top: 0;
          padding-bottom: 0;
          margin: 0;
        }

        & span {

          @media (--bp-md) {
            height: 0;
            overflow: hidden;
            display: block;
          }
        }
      }
    }

  }

  & tbody {
    & > tr {
      @media (--bp-md) {
        background-color: transparent;
      }
    }
  }
}

.chart-title {
  & h3 {
    text-transform: uppercase;
  }
}
