.radio {
  margin: 0;

  &--inline {
    display: inline-block;
    vertical-align: top;
  }

  & label {
    padding-left: 25px;
    line-height: 25px;
    height: 20px;

    &:before {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      background: white;
      min-height: 0;
      padding-left: 0;
      box-shadow: inset 0px 0px 0px 2px green;
    }

    &:after {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: 5px;
      left: 5px;
      background: green;
      opacity: 0;
    }

    &:hover::after {
      opacity: 0.3;
    }
  }

  & input[type=radio] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}

.radio + .radio {
  margin-left: 1em;
  margin-top: 0;
}
