<section class="prefooter">
  <div class="prefooter__sticky">
    <div class="prefooter__reception">
      <button class="button button--default">Feedback</button>
      <button class="button button--default"><i class="icon icon--chat"></i> Chat</button>
    </div>
    <button class="button" id="backToTop"><i class="icon icon--backtotop"></i></button>
  </div>
  <div class="prefooter__links">
    <ul class="nav">
      <li><a tabindex="0">Corporate Entrance</a>
        <ul>
          <li><a href="#">information</a></li>
          <li><a href="#">milestones</a></li>
          <li><a href="#">board of directors</a></li>
          <li><a href="#">corporate governance report</a></li>
          <li><a href="#">whistle blowing</a></li>
          <li><a href="#">corporate contact info</a></li>
          <li><a href="#">management team</a></li>
          <li><a href="#">investor relations</a></li>
        </ul>
      </li>
      <li><a tabindex="0">Management Services</a>
        <ul>
          <li><a href="#">information</a></li>
          <li><a href="#">milestones</a></li>
          <li><a href="#">board of directors</a></li>
          <li><a href="#">corporate governance report</a></li>
          <li><a href="#">whistle blowing</a></li>
          <li><a href="#">corporate contact info</a></li>
          <li><a href="#">management team</a></li>
          <li><a href="#">investor relations</a></li>
        </ul>
      </li>
      <li><a tabindex="0">Media</a>
        <ul>
          <li><a href="#">information</a></li>
          <li><a href="#">milestones</a></li>
          <li><a href="#">board of directors</a></li>
          <li><a href="#">corporate governance report</a></li>
          <li><a href="#">whistle blowing</a></li>
          <li><a href="#">corporate contact info</a></li>
          <li><a href="#">management team</a></li>
          <li><a href="#">investor relations</a></li>
        </ul>
      </li>
      <li><a tabindex="0">Associate Sites</a>
        <ul>
          <li><a href="#">information</a></li>
          <li><a href="#">milestones</a></li>
          <li><a href="#">board of directors</a></li>
          <li><a href="#">corporate governance report</a></li>
          <li><a href="#">whistle blowing</a></li>
          <li><a href="#">corporate contact info</a></li>
          <li><a href="#">management team</a></li>
          <li><a href="#">investor relations</a></li>
        </ul>
      </li>
      <li><a href="#">XTC Travel Consultant</a></li>
      <li><a href="#">Best Price Guarantee</a></li>
    </ul>
  </div>
  <div class="prefooter__bounds">
    <div class="prefooter__brands">
      <h4>Explore Our Brands</h4>
      <ul>
        <li><a href="#" class="brand brand--banyan"></a></li>
        <li><a href="#" class="brand brand--angsana"></a></li>
        <li><a href="#" class="brand brand--cassia"></a></li>
        <li><a href="#" class="brand brand--dhawa"></a></li>
      </ul>
    </div>
    <div class="prefooter__partners">
      <h4>Strategic Partnership</h4>
      <a href="#" class="partner">
        <img src="assets/img/partner-accorhotels.png" alt="Accor Hotels">
      </a>
    </div>
    <div class="prefooter__social">
      <ul>
        <li><a href="#"><i class="icon icon--social-fb-i"></i> Facebook</a></li>
        <li><a href="#"><i class="icon icon--social-tw-i"></i> Twitter</a></li>
        <li><a href="#"><i class="icon icon--social-yt-i"></i> Youtube</a></li>
        <li><a href="#"><i class="icon icon--social-pin-i"></i> Piterest</a></li>
        <li><a href="#"><i class="icon icon--social-ig-i"></i> Instagram</a></li>
        <li><a href="#"><i class="icon icon--social-wei-i"></i> Weibo</a></li>
      </ul>
      <form class="form form--newsletter" action="#">
        <i class="icon icon--mail"></i>
        <input type="email" placeholder="Email Address" />
        <button type="submit" class="button button--default">Subscribe</button>
      </form>
    </div>
  </div>
</div>
</section>
