<script>
var BTMAP_IMAGEPATH = 'assets/img/';
var BTMAP_LOCATIONS = [
  {
    latLng: { lat: -33.727111, lng: 150.371124 },
    country: 'laos',
    img: './assets/img/location-huangzhou.jpg',
    brand: 'banyan',
    title: 'Banyan Tree Huangzhou',
    description: 'Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. Enter Hangzhou, where romance perfumes the air and nature thrives.',
    link: '/',
    destination: 'destination2',
    booknow: '/',
    excerpt: 'Step into a picturesque setting of calm waters'
  },
  {
  latLng: { lat: -33.848588, lng: 151.209834 },
    country: 'china',
    img: './assets/img/location-huangzhou.jpg',
    brand: 'cassia',
    title: 'Banyan Tree Huangzhou',
    description: '<p>Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. Enter Hangzhou, where romance perfumes the air and nature thrives.</p>',
    link: '/',
    destination: 'destination3',
    booknow: '/',
    excerpt: 'Step into a picturesque setting of calm waters'
  },
  {
    latLng: { lat: -33.851702, lng: 151.216968 },
    country: 'indonesia',
    img: './assets/img/location-huangzhou.jpg',
    brand: 'dhawa',
    title: 'Banyan Tree Zhenzhen',
    description: 'Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. Enter Hangzhou, where romance perfumes the air and nature thrives.',
    link: '/',
    destination: 'destination4',
    booknow: '/',
    excerpt: 'Step into a picturesque setting of calm waters'
  },
  {
    latLng: { lat: -34.671264, lng: 150.863657 },
    country: 'laos',
    img: './assets/img/location-huangzhou.jpg',
    brand: 'angsana',
    title: 'Banyan Tree Huangzhou',
    description: 'Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. Enter Hangzhou, where romance perfumes the air and nature thrives.',
    link: '/',
    destination: 'destination1',
    booknow: '/',
    excerpt: 'Step into a picturesque setting of calm waters'
  },
  {
    latLng: { lat: -35.304724, lng: 148.662905 },
    country: 'india',
    img: './assets/img/location-huangzhou.jpg',
    brand: 'banyan',
    title: 'Banyan Tree Huangzhou',
    description: 'Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. Enter Hangzhou, where romance perfumes the air and nature thrives.',
    link: '/',
    destination: 'destination1',
    booknow: '/',
    excerpt: 'Step into a picturesque setting of calm waters'
  },
  {
    latLng: { lat: -36.817685, lng: 175.699196 },
    country: 'china',
    img: './assets/img/location-huangzhou.jpg',
    brand: 'cassia',
    title: 'Banyan Tree Huangzhou',
    description: 'Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. Enter Hangzhou, where romance perfumes the air and nature thrives.',
    link: '/',
    destination: 'destination1',
    booknow: '/',
    excerpt: 'Step into a picturesque setting of calm waters'
  },
  {
    latLng: { lat: -36.828611, lng: 175.790222 },
    country: 'indonesia',
    img: './assets/img/location-huangzhou.jpg',
    brand: 'dhawa',
    title: 'Banyan Tree Huangzhou',
    description: 'Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. Enter Hangzhou, where romance perfumes the air and nature thrives.',
    link: '/',
    destination: 'destination1',
    booknow: '/',
    excerpt: 'Step into a picturesque setting of calm waters'
  },
  {
    latLng: { lat: -37.750000, lng: 145.116667 },
    country: 'china',
    img: './assets/img/location-huangzhou.jpg',
    brand: 'banyan',
    title: 'Banyan Tree Huangzhou',
    description: 'Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. Enter Hangzhou, where romance perfumes the air and nature thrives.',
    link: '/',
    destination: 'destination1',
    booknow: '/',
    excerpt: 'Step into a picturesque setting of calm waters'
  },
  {
    latLng: { lat: -37.759859, lng: 145.128708 },
    country: 'laos',
    img: './assets/img/location-huangzhou.jpg',
    brand: 'angsana',
    title: 'Banyan Tree Huangzhou',
    description: 'Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. Enter Hangzhou, where romance perfumes the air and nature thrives.',
    link: '/',
    destination: 'destination1',
    booknow: '/',
    excerpt: 'Step into a picturesque setting of calm waters'
  },
  {
    latLng: { lat: -37.765015, lng: 145.133858 },
    country: 'india',
    img: './assets/img/location-huangzhou.jpg',
    brand: 'banyan',
    title: 'Banyan Tree Huangzhou',
    description: 'Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. Enter Hangzhou, where romance perfumes the air and nature thrives.',
    link: '/',
    destination: 'destination1',
    booknow: '/',
    excerpt: 'Step into a picturesque setting of calm waters'
  },
  {
    latLng: { lat: -37.770104, lng: 145.143299 },
    country: 'indonesia',
    img: './assets/img/location-huangzhou.jpg',
    brand: 'cassia',
    title: 'Banyan Tree Huangzhou',
    description: 'Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. Enter Hangzhou, where romance perfumes the air and nature thrives.',
    link: '/',
    destination: 'destination1',
    booknow: '/',
    excerpt: 'Step into a picturesque setting of calm waters'
  },
  {
    latLng: { lat: -37.773700, lng: 145.145187 },
    country: 'china',
    img: './assets/img/location-huangzhou.jpg',
    brand: 'banyan',
    title: 'Banyan Tree Huangzhou',
    description: 'Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. Enter Hangzhou, where romance perfumes the air and nature thrives.',
    link: '/',
    destination: 'destination1',
    booknow: '/',
    excerpt: 'Step into a picturesque setting of calm waters'
  },
  {
    latLng: { lat: -37.774785, lng: 145.137978 },
    country: 'laos',
    img: './assets/img/location-huangzhou.jpg',
    title: 'Banyan Tree Huangzhou',
    brand: 'angsana',
    description: 'Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. Enter Hangzhou, where romance perfumes the air and nature thrives.',
    link: '/',
    destination: 'destination1',
    booknow: '/',
    excerpt: 'Step into a picturesque setting of calm waters'
  },
  {
    latLng: { lat: -37.819616, lng: 144.968119 },
    country: 'india',
    img: './assets/img/location-huangzhou.jpg',
    brand: 'dhawa',
    title: 'Banyan Tree Huangzhou',
    description: 'Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. Enter Hangzhou, where romance perfumes the air and nature thrives.',
    link: '/',
    destination: 'destination1',
    booknow: '/',
    excerpt: 'Step into a picturesque setting of calm waters'
  },
  {
    latLng: { lat: -38.330766, lng: 144.695692 },
    country: 'china',
    img: './assets/img/location-huangzhou.jpg',
    brand: 'banyan',
    title: 'Banyan Tree Huangzhou',
    description: 'Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. Enter Hangzhou, where romance perfumes the air and nature thrives.',
    link: '/',
    destination: 'destination1',
    booknow: '/',
    excerpt: 'Step into a picturesque setting of calm waters'
  },
  {
    latLng: { lat: -39.927193, lng: 175.053218 },
    country: 'china',
    img: './assets/img/location-huangzhou.jpg',
    brand: 'cassia',
    title: 'Banyan Tree Huangzhou',
    description: 'Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. Enter Hangzhou, where romance perfumes the air and nature thrives.',
    link: '/',
    destination: 'destination1',
    booknow: '/',
    excerpt: 'Step into a picturesque setting of calm waters'
  },
  {
    latLng: { lat: -41.330162, lng: 174.865694 },
    country: 'indonesia',
    img: './assets/img/location-huangzhou.jpg',
    brand: 'angsana',
    title: 'Banyan Tree Huangzhou',
    description: 'Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. Enter Hangzhou, where romance perfumes the air and nature thrives.',
    link: '/',
    destination: 'destination1',
    booknow: '/',
    excerpt: 'Step into a picturesque setting of calm waters'
  },
  {
    latLng: { lat: -42.734358, lng: 147.439506 },
    country: 'china',
    img: './assets/img/location-huangzhou.jpg',
    brand: 'banyan',
    title: 'Banyan Tree Huangzhou',
    description: 'Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. Enter Hangzhou, where romance perfumes the air and nature thrives.',
    link: '/',
    destination: 'destination1',
    booknow: '/',
    excerpt: 'Step into a picturesque setting of calm waters'
  },
  {
    latLng: { lat: -42.734358, lng: 147.501315 },
    country: 'laos',
    img: './assets/img/location-huangzhou.jpg',
    brand: 'cassia',
    title: 'Banyan Tree Huangzhou',
    description: 'Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. Enter Hangzhou, where romance perfumes the air and nature thrives.',
    link: '/',
    destination: 'destination1',
    booknow: '/',
    excerpt: 'Step into a picturesque setting of calm waters'
  },
  {
    latLng: { lat: -42.735258, lng: 147.438000 },
    country: 'india',
    img: './assets/img/location-huangzhou.jpg',
    brand: 'dhawa',
    title: 'Banyan Tree Huangzhou',
    description: 'Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. Enter Hangzhou, where romance perfumes the air and nature thrives.',
    link: '/',
    destination: 'destination1',
    booknow: '/',
    excerpt: 'Step into a picturesque setting of calm waters'
  },
  {
    latLng: { lat: -43.999792, lng: 170.463352 },
    country: 'india',
    img: './assets/img/location-huangzhou.jpg',
    brand: 'cassia',
    title: 'Banyan Tree Huangzhou',
    description: 'Step into a picturesque setting of calm waters, vibrant flora and fauna and the fascinating Xixi National Wetland Park and be filled with awe and wonder. Enter Hangzhou, where romance perfumes the air and nature thrives.',
    link: '/',
    destination: 'destination1',
    booknow: '/',
    excerpt: 'Step into a picturesque setting of calm waters'
  }
]
</script>
