{{#extend "layouts/base"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li class="active">Best Price Guarantee</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>BEST PRICE GUARANTEE</h1>
        <hr class="rule" />
        <p>Book any available accommodation rates on www.banyantree.com and enjoy our Best Price Guarantee. tIf you find a lower,
        qualifying rate published on another hotel booking site, we will match it, and you will enjoy additional room credits worth 10% of
        the lower qualifying room rate redeemable during your stay.
        <br><br>
        The Best Price Guarantee applies only to prices advertised and available to general public on websites other
        than www.banyantree.com at the time of verification.</p>

        <p>&nbsp;</p>
        <p class="text-supplement">Plus Many Other Benefits:</p>

        <ul class="keypoints">
          <li><i class="icon icon--keypoint-warn"></i> Detailed info on your stay and the destination</li>
          <li><i class="icon icon--keypoint-glass"></i> No hidden fees</li>
          <li><i class="icon icon--keypoint-csr"></i> Seamless customer service</li>
          <li><i class="icon icon--keypoint-lock"></i> Secure transactions</li>
          <li><i class="icon icon--keypoint-note"></i> Hassle-free cancellation</li>
        </ul>
        <p>&nbsp;</p>

        <h3>Frequently Asked Questions</h3>
        <br>

        <div>
          <h5>How do I submit a claim?</h5>
          <ul class="apart">
            <li>A claim must be submitted within 24 hours after making the reservation through www.banyantree.com and at least 72 hours before the scheduled arrival.
            </li>
            <li>During the submission of the online claim form, you are required to provide the URL where the lower rate was found,   and a screenshot showing the lower rate on the competing website.
            </li>
            <li>We will contact you within (2) business days after receiving your claim. Terms & Conditions apply.
            </li>
          </ul>
        </div>

        <div>
          <h5>Comparing the Rooms</h5>
          <ul class="apart">
            <li>The Best Price Guarantee is available only for the exact same room type and view.</li>
          </ul>
        </div>

        <div>
          <h5>Comparing the Terms</h5>
          <ul class="apart">
            <li>The Best Price Guarantee applies to rates which have matching terms of the comparison such as pre-payment, deposit and number of guests.</li>
          </ul>
        </div>

        <div>
          <h5>Comparing the Rates</h5>
          <p>Currency – In the event that compared rate is in a different currency from the currency reflected on www.banyantree.com, we will convert the competing rate into the same currency rate offered on www.banyantree.com</p>
          <p>Best Price Guarantee will not be applicable if the variation in the applicable rate is less than or equal to 3% after conversion to the equivalent currency.</p>
        </div>

        <div>
          <h5>Do I need to make a reservation in order to submit a claim?</h5>
          <ul class="apart">
            <li>A reservation is required through the applicable www.banyantree.com in order to submit a claim.</li>
          </ul>
        </div>

        <div>
          <h5>Cancellation Fee</h5>
          <ul class="apart">
            <li>Best Price Guarantee does not apply to reservations booked through other websites. We are not responsible for any fees associated with the cancellation of reservation booked on websites other than www.banyantree.com</li>
          </ul>
        </div>
        <p>&nbsp;</p>

        <h3>Terms & Conditions</h3>
        <br>
        <p>For a valid claim under the Best Price Guarantee, it must fulfil the terms &amp; conditions listed below:</p>
        <br>

        <div>
          <h5>The Best Price Guarantee does not apply to:</h5>
          <ul class="apart">
            <li>Taxes, gratuities or fee imposed by local authority, or any charges or fees that may apply during your stay.</li>
            <li>Existing reservations not booked via Brand Tree brand website (www.banyantree.com)</li>
            <li>Hotel package rates (e.g. which include a combination of accommodation, dining, spa packages, limousine transfer etc)</li>
            <li>Unpublished or negotiated rates (membership, partnership and rewards programs, corporate discounts, negotiated rates, group, convention, meeting and convention or other rates that are not available to the general public.</li>
            <li>Rates offered to direct mail or email solicitations.</li>
            <li>The Best Price Guarantee will be suspended during the times where www.banyantree.com are not available due to an outrage, a technical issue or circumstance beyond such other conditions as we may implement or stipulate from time to time in accordance with our Banyan Tree Group prevailing practices.</li>
          </ul>
        </div>

        <div>
          <h5>Prepaid Reservations</h5>
          <ul class="apart">
            <li>In the event a fully prepaid rate booked through a Www.banyantree.com, we will credit difference as your hotel credits to be consumed during your stay at the resorts.</li>
          </ul>
        </div>

        <div>
          <h5>Validity of Claims</h5>
          <ul class="apart">
            <li>We reserve the right to withdraw and alter the terms of this FAQ without notice. Nothing in this FAQ shall be taken as representation, warranty or an obligation against the Banyan Tree Group.
            </li>
            <li>Guests should at all times refer to the most recent version of the FAQ on www.banyantree.com
            </li>
          </ul>
        </div>

      </main>

      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <p>
          <img src="assets/img/logo-bestprice-182x62.png" alt="Best Price Guarantee">
        </p>
        <div class="buttons">
          <button class="button button--primary">Make Claim</button>
        </div>

        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>
      </aside>

    </div>
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</section>
{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
{{/content}}

{{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
{{/content}}

{{/extend}}
