{{#extend "layouts/base"}} {{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li class="active">Residences</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="primary">
  <div class="container">
    <div class="row">
      <main class="col-md-12 col-lg-9">
        <h1>Residences</h1>
        <hr class="rule" />
        <p class="text-primary"><em>Nullam vehicula arcu sit amet neque condimentum bibendum.</em></p>
        <p>Only a few who visit our Resorts would ever choose to leave. Even fewer will be able to resist making the Banyan Tree experience a permanent part of their lifestyle. The Banyan Tree provides an opportunity to invest in your own signature villa, townhomes or apartments in a highly sought-after locations worldwide under the Group’s property brand name, Angsana Residences, Banyan Tree Residences, Cassia and Laguna Property. The key to Banyan Tree properties open a door to access to exceptional hospitality, amenities and services from our inspirational network worldwide with 24 hour concierge awaits to take care of all your needs.</p>
      </main>
    </div>
  </div>
</section>
<section class="special-occasion">
  <div class="container">
    <div class="cards cards--grid">
      <div class="card">
        <div class="card__head">
          <img src="assets/img/residences-1.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Banyan Tree Residences</h4>
          <hr class="rule rule--centered">
          <p>Residences of unsurpassed beauty in world’s highly sought-after locations</p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read more &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/residences-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Angsana Residences</h4>
          <hr class="rule rule--centered">
          <p>Home to the first 3-story beachfront condo development of its kind in Vietnam</p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read more &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/residences-3.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Cassia</h4>
          <hr class="rule rule--centered">
          <p>Affordable stylish holiday homes in stunning locations</p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read more &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/residences-4.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>The Sancturay Club</h4>
          <hr class="rule rule--centered">
          <p>A world of privileges within Banyan Tree Group for the owners only.</p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read more &gt;</a>
          </p>
        </div>
      </div>
          <div class="card">
        <div class="card__head">
          <img src="assets/img/residences-5.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Laguna Property</h4>
          <hr class="rule rule--centered">
          <p>Residential and investment project that located in world’s famous integrated resort</p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read more &gt;</a>
          </p>
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
  </div>
</section>
{{/content}} {{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" /> {{/content}} {{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
{{/content}} {{/extend}}
