{{#extend "layouts/base"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li class="active">Offers</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12"></main>
      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2 class="section-title">SPECIAL OCCASSION</h2>
    <hr class="rule rule--ornament" />
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>&nbsp;</p>
    <div class="cards cards--grid">
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-5.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Proposal</h4>
          <hr class="rule rule--centered">
          <p>Be rewarded with hotel credits. Redeem and rejuvenate with each visit.</p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">View details &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-6.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Wedding</h4>
          <hr class="rule rule--centered">
          <p>Enjoy up to 2 Nights Complimentary.
            Extend your memorable experience.</p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">View details &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-7.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Honeymoon</h4>
          <hr class="rule rule--centered">
          <p>Experience a Sanctuary for the Senses. Book early and enjoy special rates.</p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">View details &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-offers-8.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Anniversary</h4>
          <hr class="rule rule--centered">
          <p>Exclusive SilkAir offers for 7 beautiful properties in 5 iconic destinations.</p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">View details &gt;</a>
          </p>
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
  </div>
</section>
<section>
  <div class="container">
  <h2 class="section-title">BRANDWIDE</h2>
  <hr class="rule rule--ornament" />
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <p>&nbsp;</p>
  <div class="cards cards--grid">
    <div class="card">
      <div class="card__head">
        <img src="assets/img/card-offers-9.jpg" alt="Night on us">
      </div>
      <div class="card__body">
        <h4>Night on us</h4>
        <hr class="rule rule--centered">
        <p>Ignite the spark with your loved one. Experience an interlude of romance in your sanctuary.</p>
      </div>
      <div class="card__footer">
        <p class="card__actions">
          <a href="#">View details &gt;</a>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card__head">
        <img src="assets/img/card-offers-10.jpg" alt="Night on us">
      </div>
      <div class="card__body">
        <h4>Credit Goes To You</h4>
        <hr class="rule rule--centered">
        <p>Cherish family moments together. Spend quality time and reconnect.</p>
      </div>
      <div class="card__footer">
        <p class="card__actions">
          <a href="#">View details &gt;</a>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card__head">
        <img src="assets/img/card-offers-11.jpg" alt="Night on us">
      </div>
      <div class="card__body">
        <h4>Sense Of Rejuvenation</h4>
        <hr class="rule rule--centered">
        <p>Rejuvenate body, mind and soul in your perfect sanctuary.</p>
      </div>
      <div class="card__footer">
        <p class="card__actions">
          <a href="#">View details &gt;</a>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card__head">
        <img src="assets/img/card-offers-12.jpg" alt="Night on us">
      </div>
      <div class="card__body">
        <h4>Meaningful Connections</h4>
        <hr class="rule rule--centered">
        <p>Where business meets rejuvenation. There is a Banyan Tree for all your event needs.</p>
      </div>
      <div class="card__footer">
        <p class="card__actions">
          <a href="#">View details &gt;</a>
        </p>
      </div>
    </div>
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  </div>
</section>
{{/content}}

{{/extend}}
