{{#extend "layouts/base"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li class="active">Best Price Guarantee</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="primary">
  <div class="container">
    <div class="row">
      <main class="col-lg-8">
        <h1>Request for Proposal</h1>
        <hr class="rule" />
        <p>Please fill in the details below to submit your request. Our Regional Sales Office closest to you will be in touch to follow up with your request.</p>
        <p>&nbsp;</p>
        <form>
          <!-- Contact Information -->
          <div class="row">
            <div class="col-sm-12">
              <p class="text-primary">Contact Information</p>
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group required row">
                <label for="inputTitle" class="col-sm-4 col-form-label control-label">Title</label>
                <div class="col-sm-8">
                  <select class="form-control">
                    <option>Please Select</option>
                    <option>Mr.</option>
                    <option>Ms.</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group required row">
                <label for="inputFirstName" class="col-sm-4 col-form-label control-label">First Name</label>
                <div class="col-sm-8">
                  <input type="name" class="form-control" id="inputFirstName" placeholder="First Name" required="true">
                </div>
              </div>
              <div class="form-group row required">
                <label for="inputLastName" class="col-sm-4 col-form-label control-label">Last Name</label>
                <div class="col-sm-8">
                  <input type="name" class="form-control" id="inputLastName" placeholder="Last Name">
                </div>
              </div>
              <div class="form-group row required">
                <label for="inputEmail" class="col-sm-4 col-form-label control-label">Email Address</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">
                </div>
              </div>
              <div class="form-group row required">
                <label for="inputReEmail" class="col-sm-4 col-form-label control-label">Retype Email Address</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="inputReEmail" placeholder="Retype Email Address">
                </div>
              </div>
              <div class="form-group row required">
                <label for="inputAddLine" class="col-sm-4 col-form-label control-label">Address Line</label>
                <div class="col-sm-8">
                  <input type="address" class="form-control" id="inputAddLine" placeholder="Address Line">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputCity" class="col-sm-4 col-form-label">City/Town</label>
                <div class="col-sm-8">
                  <input type="address" class="form-control" id="inputCity" placeholder="City/Town">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputProvince" class="col-sm-4 col-form-label">State of Province</label>
                <div class="col-sm-8">
                  <input type="address" class="form-control" id="inputProvince" placeholder="State of Province">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="inputCompany" class="col-sm-4 col-form-label">Company Name</label>
                <div class="col-sm-8">
                  <input type="name" class="form-control" id="inputCompany" placeholder="Company Name">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputContact" class="col-sm-4 col-form-label">Phone/Mobile</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="inputContact" placeholder="Phone/Mobile">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputZip" class="col-sm-4 col-form-label">Zip Code</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="inputZip" placeholder="Zip Code">
                </div>
              </div>
              <div class="form-group row required">
                <label for="inputResidence" class="col-sm-4 col-form-label control-label control-label">Country of Residence</label>
                <div class="col-sm-8">
                  <select class="form-control">
                    <option>Please Select</option>
                    <option>Residence</option>
                    <option>Residence</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <br>
          <!-- Event Details -->
          <div class="row">
            <div class="col-sm-12">
              <p class="text-primary">Event Details</p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row required">
                <label for="inputHotel1" class="col-sm-4 col-form-label control-label">Select Hotel 1</label>
                <div class="col-sm-8">
                  <select class="form-control" name="inputHotel1" id="inputHotel1">
                    <option value="1">Banyan Tree Bintan</option>
                    <option value="2">Banyan Tree Ungsan, Bali</option>
                    <option value="3">Angsana Bintan</option>
                    <option value="4">Cassia Bintan</option>
                  </select>
                </div>
              </div>
              <div class="form-group row required">
                <label for="inputStart" class="col-sm-4 col-form-label control-label">Event Starts</label>
                <div class="col-sm-8">
                  <input class="form-control" type="date" id="inputStart">
                </div>
              </div>
              <div class="form-group row required">
                <label for="inputEnd" class="col-sm-4 col-form-label control-label">Event Ends</label>
                <div class="col-sm-8">
                  <input class="form-control" type="date" id="inputEnd">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputDelegates" class="col-sm-4 col-form-label">Number of Delegates</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="inputDelegates" placeholder="Number of Delegates">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row required">
                <label for="inputHotel2" class="col-sm-4 col-form-label control-label">Select Hotel 2</label>
                <div class="col-sm-8">
                  <select class="form-control" name="inputHotel2" id="inputHotel2">
                    <option value="1">Banyan Tree Bintan</option>
                    <option value="2">Banyan Tree Ungsan, Bali</option>
                    <option value="3">Angsana Bintan</option>
                    <option value="4">Cassia Bintan</option>
                  </select>
                </div>
              </div>
              <div class="form-group row required">
                <label for="inputHotel3" class="col-sm-4 col-form-label control-label">Select Hotel 3</label>
                <div class="col-sm-8">
                  <select class="form-control" name="inputHotel3" id="inputHotel3">
                    <option value="1">Banyan Tree Bintan</option>
                    <option value="2">Banyan Tree Ungsan, Bali</option>
                    <option value="3">Angsana Bintan</option>
                    <option value="4">Cassia Bintan</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <br>
          <!-- Room Requirements -->
          <div class="row">
            <div class="col-sm-12">
              <p class="text-primary">Room Requirements</p>
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="inputNeedRooms" class="col-sm-4 col-form-label">Do You Need a Room?</label>
                <div class="col-sm-4">
                  <div class="col-sm-6">
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Yes
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-check form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> No
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputNumberRooms" class="col-sm-4 col-form-label">Number of Rooms</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="inputNumberRooms" placeholder="Number of Rooms">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputCheckIn" class="col-sm-4 col-form-label">Check-in Date</label>
                <div class="col-sm-8">
                  <input class="form-control" type="date" id="inputCheckIn">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputCheckOut" class="col-sm-4 col-form-label">Check-Out Date</label>
                <div class="col-sm-8">
                  <input class="form-control" type="date" id="inputCheckOut">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label for="inputText" class="col-sm-2 col-form-label">Additional Requests</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="FormComments" rows="4"></textarea>
                  <p class="pull-right">Maximum 150 words</p>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="pull-right button button--secondary">Request for Proposal</button>
              </div>
            </div>
          </div>
        </form>
      </main>
    </div>
  </div>
</section>

<div id="rfp-popup" class="popup">
  <form action="">
    <div class="rfp-box">
      <p class="text-primary">Select your preferred hotel(s)</p>
      <select id="preferred_hotels" name="destination" multiple>
        <option value="1">Banyan Tree Bintan</option>
        <option value="2">Banyan Tree Ungsan, Bali</option>
        <option value="3">Angsana Bintan</option>
        <option value="4">Cassia Bintan</option>
      </select>
      <button type="submit" class="button button--primary">Continue</button>
    </div>
    <div class="rfp-box">
      <p class="text-primary"><strong>OR</strong></p>
    </div>
    <div class="rfp-box">
      <p><small>Heven&apos;t decided on<br> a location yet?</small></p>
      <h5>
        <a href="#">Talk to us &gt;</a>
      </h5>
    </div>
    </form>
</div>
{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/lightbox.css" />
<link rel="stylesheet" href="./assets/css/chosen.css" />
{{/content}}

{{#content "end"}}
<script src="./assets/js/lightbox.js"></script>
<script src="./assets/js/chosen.js"></script>
<script>
  $(function () {
    $('select:not(#preferred_hotels)').chosen({
      disable_search_threshold: 10,
      width: 180
    });
  });

  var _rfp_popup = (function($, w, loc) {
    function init() {
      $selectField = $('#preferred_hotels');
      $form = $selectField.parents('form');

      initBindings();
    }

    function initBindings() {
      $selectField.chosen({
        max_selected_options: 3,
        width: '100%' 
      });

      $selectField.on('change', function(e, i, f) {
        var data = $(this).serializeObject();

        if (data && data.destination) {
          $('[name=inputHotel1]').val(data.destination[0]).trigger('chosen:updated');
          $('[name=inputHotel2]').val(data.destination[1]).trigger('chosen:updated');
          $('[name=inputHotel3]').val(data.destination[2]).trigger('chosen:updated');
        }

        if (data && data.destination && data.destination.length > 2) {
          $.magnificPopup.close();
        }
      });

      $form.on('submit', function(e) {
        e.preventDefault();
        var data = $form.serializeObject();

        if (data && data.destination) {
          $('[name=inputHotel1]').val(data.destination[0]).trigger('chosen:updated');
          $('[name=inputHotel2]').val(data.destination[1]).trigger('chosen:updated');
        }

        $.magnificPopup.close();
      }); 
    }

    function render() {

        $.magnificPopup.open({
            closeOnBgClick: false,
            items: {
                src: '#rfp-popup',
                type: 'inline'
            }
        });
    }

    $(function() {
        var referrer = loc.getQuery(w.location.search.substring(1)).referrer;
        if (!referrer) {
            init();
            render();
        }
    })
  })(jQuery, window, _location);
</script>
{{/content}}

{{/extend}}
