{{#extend "layouts/base"}} {{#content "main"}}
<section class="hero">
  <div class="bg" style="background-image: url('assets/img/banner-spa.jpg')"></div>
  <div class="bg bg--sm" style="background-image: url('assets/img/banner-spa-lg.jpg')"></div>
</section>
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li class="active">Spa</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="primary">
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>Signature Treatment</h1>
        <hr class="rule" />
        <p class="text-primary"><em>A Sanctuary For The Senses</em></p>
        <p>Discover complete rejuvenation with the exclusively crafted Sense of Wellness experience. Enjoy pure indulgence over 5 days 4 nights at the award-winning Banyan Tree Spa Sanctuary. Learn from experts in different wellness-related fields and specialists from Banyan Tree Spa Academy.</p>
      </main>
      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="buttons">
          <button class="button button--primary">Enquiry More</button>
        </div>
        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2 class="section-title">Your Sanctuary for the Senses</h2>
    <hr class="rule rule--ornament" />
    <p>&nbsp;</p>
  </div>
  <div class="story slides--full">
    <figure>
      <div class="media">
        <a class="slide__image" href="assets/img/story-spa-1.jpg" title="Two bedroom Hongcun Villa 1"></a>
      </div>
      <figcaption>
        <h4>Brand Story</h4>
        <hr class="rule rule--centered">
        <p>The ultimate pampering experience, Banyan Signatures featuring holistic treatments for complete physical, mental and spiritual renewal.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
    <figure>
      <div class="media">
        <a class="slide__image" href="assets/img/story-event-1.jpg" title="Two bedroom Hongcun Villa 1"></a>
      </div>
      <figcaption>
        <h4>Amet officiis eveniet fugit</h4>
        <hr class="rule rule--centered">
        <p>Dolor fuga a deserunt cum vero. Commodi eos quaerat magnam porro tempora hic omnis molestias, aut ducimus eum inventore deleniti totam molestias.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
    <figure>
      <div class="media">
        <a class="slide__image" href="assets/img/story-event-2.jpg" title="Two bedroom Hongcun Villa 1"></a>
      </div>
      <figcaption>
        <h4>Dignissimos earum cupiditate</h4>
        <hr class="rule rule--centered">
        <p>Adipisicing quia deserunt provident molestiae ipsum. Dignissimos earum cupiditate voluptatem deleniti delectus, odit blanditiis.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
  </div>
  <div class="story story--alt">
    <figure>
      <div class="media">
        <img src="assets/img/story-spa-2.jpg" alt="Story 3" />
      </div>
      <figcaption>
        <h4>Signature Treatment</h4>
        <hr class="rule rule--centered">
        <p>Choose from Touch of Love or Touch of Peace massage oil to complement your state of mind and achieve desired effects.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
  </div>
  <div class="story">
    <figure>
      <div class="media">
        <img src="assets/img/story-spa-3.jpg" alt="Story 3" />
      </div>
      <figcaption>
        <h4>Our Therapist</h4>
        <hr class="rule rule--centered">
        <p>The ultimate pampering experience, Banyan Signatures featuring holistic treatments for complete physical, mental and spiritual renewal.</p>
        <p><a href="#">Read more &gt;</a></p>
      </figcaption>
    </figure>
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</section>
<section class="special-occasion">
  <div class="container">
    <h2 class="section-title">Spa Offers</h2>
    <hr class="rule rule--ornament" />
    <p>&nbsp;</p>
    <div class="cards cards--grid">
      <div class="card">
        <div class="card__head">
          <img src="assets/img/spa-offer-1.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Spa Offer 1</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read more &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/spa-offer-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Special Offer 2</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read more &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/spa-body-treats.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Body Treats</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read more &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/spa-wellness.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Wellness Journeys</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">View Anniversary &gt;</a>
          </p>
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
  </div>
</section>
{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
<link rel="stylesheet" href="./assets/css/lightbox.css" />
{{/content}}

{{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
<script src="./assets/js/lightbox.js"></script>
{{/content}}

{{/extend}}
