{{#extend "layouts/base"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li><a href="">Langco</a></li>
          <li><a href="">Wedding &amp; Romance</a></li>
          <li class="active">Deluxe Harmony Package</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>ROMANCE &amp; WEDDING</h1>
        <hr class="rule" />
        <p class="text-primary"><em>Uncover the tropical beauty of nature on an island made for soulmates</em></p>
        <p>Be charmed within the sphere of a beautiful island cast adrift on the South China Sea. Come to Banyan Tree Bintan and explore forests lush with life or stroll along sun-touched shores of talcum-white sand with your beloved.</p>
        <p>&nbsp;</p>

        <h4>Dinner on a sandbank</h4>
        <hr class="rule" />
        <p>If you enjoy dining, the arts and shopping, an exciting city escapade might just be the perfect honeymoon for
          you. Explore the sights and sounds of the city, sample flavourful cuisine and immerse yourselves in the
          fascinating culture. After an exciting day out, retreat to your Banyan Tree resort and be rejuvenated at this
          urban sanctuary.</p>
        <div class="decor">
          <img src="assets/img/wedding-proposal-1.jpg" alt="" />
        </div>

        <h4>Sanya Rak - Romantic Cruise</h4>
        <hr class="rule" />
        <p>Love the gentle crashing waves of the ocean, the serenity of rugged mountainscape or the undulating sand
          dunes in the heart of the desert? For those who prefer to get up close and personal with Mother Nature, a trip
          to the outdoors could spell vacation bliss for you and your partner. And after full day of activities, retreat to
          your Banyan Tree resort and enjoy all its creature comforts.</p>
        <div class="decor">
          <img src="assets/img/wedding-proposal-2.jpg" alt="" />
        </div>

        <h4>Moonlight Pagoda</h4>
        <hr class="rule" />
        <p>The beach vacation may be the most traditional honeymoon trip, but there is a reason why it has been so
          popular all these years: There is nothing quite like soaking up the sun, while indulging in the companionship
          of your partner. Stroll along the soft sand beach, have a sunset picnic or take it up a notch with a romantic
          beachside dinner. At Banyan Tree resorts, you can enjoy the best beach destinations and a picture perfect
          honeymoon with your loved one.</p>
        <div class="decor">
          <img src="assets/img/wedding-proposal-1.jpg" alt="" />
        </div>
        <p>&nbsp;</p>
      </main>

      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="buttons">
          <button class="button button--primary">Check Availability</button>
        </div>

        <div class="sidebar__links">
          <p><em>Explore more:</em></p>
          <ul class="nav nav--sidebar">
            <li><a href="/">Romance</a></li>
            <li><a href="/">Intimate Proposal</a></li>
            <li><a href="/">Wedding</a></li>
            <li><a href="/">Blissful Honeymoon</a></li>
            <li><a href="/">Anniversary</a></li>
            <li><a href="/">Find A Venue</a></li>
          </ul>
        </div>

        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="section-title">ROMANCE PACKAGES</h2>
    <hr class="rule rule--ornament" />
    <p class="lead">Rediscover the romance of travel at our resorts. Find below a range of exclusive offers and hand-crafted experiences to inspire your next trip.</p>
    <div class="cards cards--grid">
      <div class="card">
        <div class="card__head">
          <img src="assets/img/wedding-1.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Find your perfect wedding location</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">View all Location &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/wedding-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Intimate Proposals</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">View Intimate Proposals &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/wedding-3.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Blissful Honeymoon</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">View Blissful Honeymoon &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/wedding-4.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Anniversary</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">View Anniversary &gt;</a>
          </p>
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
  </div>
</section>

{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
{{/content}}

{{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
{{/content}}

{{/extend}}
