{{#extend "layouts/base"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li>Meetings</li>
          <li>Meeting Offers</li>
          <li class="active">Half-Day Meeting Package</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>Find A Venue</h1>
        <hr class="rule" />
      </main>
      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a data-action="pin"><i class="icon icon--social-pin"></i></a></li>
            <li><a data-action="gplus"><i class="icon icon--social-g"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="filterview filterview--collapsed filterview--inline" data-filter="fv1">
      <div class="filterview__frame">
        <div class="filterview__toggle">
          <button class="button button--secondary" type="button" id="toggle_filter_button">Filter by</button>
        </div>
        <div class="filters">
          <form id="filter_location">
            <div class="toggles">
              <div class="toggle">
                <input type="checkbox" id="brandBanyan" name="brands[]" value="banyan" checked>
                <label for="brandBanyan">
                  <i class="icon icon--fullbrand-banyan-i"></i>
                  <i class="icon icon--fullbrand-banyan"></i>
                </label>
              </div>
              <div class="toggle">
                <input type="checkbox" id="brandAngsana" name="brands[]" value="angsana" checked>
                <label for="brandAngsana">
                  <i class="icon icon--fullbrand-angsana-i"></i>
                  <i class="icon icon--fullbrand-angsana"></i>
                </label>
              </div>
              <div class="toggle">
                <input type="checkbox" id="brandCassia" name="brands[]" value="cassia" checked>
                <label for="brandCassia">
                  <i class="icon icon--fullbrand-cassia-i"></i>
                  <i class="icon icon--fullbrand-cassia"></i>
                </label>
              </div>
              <div class="toggle">
                <input type="checkbox" id="brandDhawa" name="brands[]" value="dhawa" checked>
                <label for="brandDhawa">
                  <i class="icon icon--fullbrand-dhawa-i"></i>
                  <i class="icon icon--fullbrand-dhawa"></i>
                </label>
              </div>
            </div>

            <div class="multiselect">
              <button type="button" class="multiselect__toggle">
                <span>All countries</span>
              </button>
              <div class="multiselect__options" id="countries_option"></div>
            </div>

            <div class="multiselect">
              <button type="button" class="multiselect__toggle">
                <span>All themes</span>
              </button>
              <div class="multiselect__options" id="themes_option"></div>
            </div>

            <div class="multiselect">
              <button type="button" class="multiselect__toggle">
                <span>Number of delegates</span>
              </button>
              <div class="multiselect__options">
                <label>
                  <input type="radio" name="delegates" value="" checked="checked"> Any
                </label>
                <label>
                  <input type="radio" name="delegates" value="1,20"> 1 - 20
                </label>
                <label>
                  <input type="radio" name="delegates" value="50, 100"> 50 - 100
                </label>
                <label>
                  <input type="radio" name="delegates" value="100, 9999"> 100 +
                </label>
              </div>
            </div>

            <div class="filters__action">
              <button id="submitFilter" class="button button--secondary">Apply</button>
            </div>
          </form>
        </div>
        <div class="filterview__switches">
          <button class="button button--icon" data-view-type="grid"><i class="icon icon--view-grid"></i></button>
          <button class="button button--icon" data-view-type="map"><i class="icon icon--view-map"></i></button>
          <button class="button button--icon" data-view-type="detail"><i class="icon icon--view-list"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div id="location_view" data-view-type-default="grid" data-view-details="true"></div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</section>

{{/content}}

{{#content "end"}}
<script>
var BTMAP_IMAGEPATH = 'assets/img/';
{{> partials/scripts.json-events }}
</script>
<script src="./assets/js/markerclusterer.js"></script>
<script src="./assets/js/maps.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJSD9TjIt4qrTs1MIOztDGXprEshyGPkw&callback=onGMapLoaded"></script>
<script>
$(function() {
  _data.set(window.BTMAP_EVENTS, 'event');
  _switch.init();
  _filter.init();
  _cards.init();
  _map.init();
  _switch.view('grid');
});
</script>
{{/content}}

{{/extend}}
