{{#extend "layouts/base"}}

{{#content "main"}}
<section class="topbar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a href="/"><i class="icon icon--home"></i>Home</a></li>
					<li><a href="">China</a></li>
					<li><a href="">Banyan Tree Huangshan </a></li>
					<li><a href="">Rooms &amp; Villas</a></li>
					<li class="active">Two bedroom Hongcun Villa</li>
				</ol>
			</div>
		</div>
	</div>
</section>
<section class="primary">
	<div class="container">
		<div class="row">
			<main class="col-md-9 col-lg-8 col-sm-12">
				<h1>Night on us</h1>
				<hr class="rule" />
				<p class="text-primary"><em>Morbi dui mauris, ornare convallis nulla a, convallis molestie justo.</em></p>
				<p>Sed maximus mauris tortor, ac pharetra justo convallis in. Etiam blandit sollicitudin lacus ac porttitor. Nunc eleifend
					est tortor, et porta velit vulputate non. Morbi rhoncus libero at est feugiat egestas. Mauris finibus sapien sed urna
					interdum, vitae pharetra dui venenatis. Donec ultrices quam sit amet sollicitudin imperdiet. Suspendisse est ligula,
					faucibus at porta ut, condimentum at quam. Nam quis ex felis. Morbi vitae quam at leo pharetra porttitor.</p>
				<div class="sifter">
					<div class="sifter__filter" data-filter-id="sift-1">
						<!-- filters -->
						<!-- /filters -->
					</div>
					<div class="sifter__switch">
						<button class="button button--icon" data-view-id="sift-1" data-view-type="grid"><i class="icon icon--view-grid"></i></button>
						<button class="button button--icon" data-view-id="sift-1" data-view-type="list"><i class="icon icon--view-list"></i></button>
					</div>
				</div>
				<div class="sifted" id="sift-1">
					<div class="drawer cards-set cards-set--inline" data-view-category="beach">
						<div class="cards-set__head">
							<p class="drawer__knob cards-set__title">Beach <i class="icon icon--ui-down"></i></p>
							<hr class="rule rule--ornament">
						</div>
						<div class="drawer__box cards">
							<div class="card">
								<div class="card__head">
									<img src="assets/img/card-offers-1.jpg" alt="Night on us">
								</div>
								<div class="card__body">
									<h4><a href="#">Banyan Tree Lijiang</a></h4>
									<hr class="rule rule--centered">
									<p class="text-primary"><em>Big Sky</em></p>
									<p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
								</div>
								<div class="card__footer">
									<div class="card__actions">
										<a href="#">Book now &gt;</a>
										<a href="#">View details &gt;</a>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__head">
									<img src="assets/img/card-offers-2.jpg" alt="Night on us">
								</div>
								<div class="card__body">
									<h4><a href="#">Banyan Tree Macau</a></h4>
									<hr class="rule rule--centered">
									<p class="text-primary"><em>Big Sky</em></p>
									<p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
								</div>
								<div class="card__footer">
									<div class="card__actions">
										<a href="#">Book now &gt;</a>
										<a href="#">View details &gt;</a>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__head">
									<img src="assets/img/card-offers-3.jpg" alt="Night on us">
								</div>
								<div class="card__body">
									<h4><a href="#">Banyan Tree Ringha</a></h4>
									<hr class="rule rule--centered">
									<p class="text-primary"><em>Big Sky</em></p>
									<p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
								</div>
								<div class="card__footer">
									<div class="card__actions">
										<a href="#">Book now &gt;</a>
										<a href="#">View details &gt;</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="drawer cards-set cards-set--inline" data-view-category="culture">
						<div class="cards-set__head">
							<p class="drawer__knob cards-set__title">Culture <i class="icon icon--ui-down"></i></p>
							<hr class="rule rule--ornament">
						</div>
						<div class="drawer__box cards">
							<div class="card">
								<div class="card__head">
									<img src="assets/img/card-offers-1.jpg" alt="Night on us">
								</div>
								<div class="card__body">
									<h4><a href="#">Banyan Tree Lijiang</a></h4>
									<hr class="rule rule--centered">
									<p class="text-primary"><em>Big Sky</em></p>
									<p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
								</div>
								<div class="card__footer">
									<div class="card__actions">
										<a href="#">Book now &gt;</a>
										<a href="#">View details &gt;</a>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__head">
									<img src="assets/img/card-offers-2.jpg" alt="Night on us">
								</div>
								<div class="card__body">
									<h4><a href="#">Banyan Tree Macau</a></h4>
									<hr class="rule rule--centered">
									<p class="text-primary"><em>Big Sky</em></p>
									<p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
								</div>
								<div class="card__footer">
									<div class="card__actions">
										<a href="#">Book now &gt;</a>
										<a href="#">View details &gt;</a>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__head">
									<img src="assets/img/card-offers-3.jpg" alt="Night on us">
								</div>
								<div class="card__body">
									<h4><a href="#">Banyan Tree Ringha</a></h4>
									<hr class="rule rule--centered">
									<p class="text-primary"><em>Big Sky</em></p>
									<p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
								</div>
								<div class="card__footer">
									<div class="card__actions">
										<a href="#">Book now &gt;</a>
										<a href="#">View details &gt;</a>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card__head">
									<img src="assets/img/card-offers-4.jpg" alt="Night on us">
								</div>
								<div class="card__body">
									<h4><a href="#">Banyan Tree Sanya</a></h4>
									<hr class="rule rule--centered">
									<p class="text-primary"><em>Big Sky</em></p>
									<p>Dolor corrupti fugit veniam suscipit nihil optio odit. Labore reprehenderit illo id velit temporibus quos.</p>
								</div>
								<div class="card__footer">
									<div class="card__actions">
										<a href="#">Book now &gt;</a>
										<a href="#">View details &gt;</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>

			<aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
				<div class="sidebar__links">
					<ul class="nav nav--sidebar">
						<li><a href="/">The Credit Goes To You</a></li>
						<li><a href="/" class="active">Night On Us</a></li>
						<li><a href="/">Early Bird Offers</a></li>
						<li><a href="/">Best Available Rate</a></li>
						<li><a href="/">Hotel Offers</a></li>
						<li><a href="/">10th Anniversary In China</a></li>
						<li><a href="/">Sense Of Romance</a></li>
						<li><a href="/">Sense Of Family</a></li>
						<li><a href="/">Sense Of Rejuvenation</a></li>
					</ul>
				</div>

				<div class="sidebar__social">
					<p><em>Share this:</em></p>
					<ul>
						<li><a href="#"><i class="icon icon--social-fb"></i></a></li>
						<li><a href="#"><i class="icon icon--social-tw"></i></a></li>
						<li><a href="#"><i class="icon icon--social-yt"></i></a></li>
						<li><a href="#"><i class="icon icon--social-pin"></i></a></li>
						<li><a href="#"><i class="icon icon--social-ig"></i></a></li>
						<li><a href="#"><i class="icon icon--social-wei"></i></a></li>
					</ul>
				</div>

				<div class="sidebar__contact">
					<p><em>Address Details:</em></p>
					<p>No. 1 Banyan Tree Road, Hongcun Town, Yi Country, Huangshan, Anhui Province, China 245531</p>
					<p><i class="icon icon--ui-phone"></i> +86 559 2265 000</p>
					<p><i class="icon icon--ui-fax"></i> +86 559 226 5999</p>
					<p><i class="icon icon--ui-mail"></i> reservations-huangshan@banyantree.com</p>
					<p><a href="#">View Resort Map ></a></p>
				</div>

			</aside>
		</div>
	</div>
</section>
{{/content}} 

{{#content "styles"}}
{{/content}}

{{#content "end"}}
<script>
$(function(){
	_switcher.init();
})
</script>
{{/content}} 

{{/extend}}