{{#extend "layouts/base"}}

{{#content "main"}}
<section>
	<div class="slides slides--hero">
		<div class="slide">
			<div class="bg" style="background-image: url('assets/img/slide-1.jpg')"></div>
			<div class="bg bg--sm" style="background-image: url('assets/img/slide-1-wide.jpg')"></div>
			<div class="slide__body">
				<p><em>Welcome to Banyan Tree</em></p>
				<hr class="rule rule--inverse" />
				<h2>Your sanctuary for the senses</h2>
				<a href="#" class="button button--outlined-alt">watch video <i class="icon icon--play"></i></a>
			</div>
			<div class="slide__footer">
				<p><em>Ungasan, Bali, Indonesia</em></p>
			</div>
		</div>

		<div class="slide">
			<div class="bg" style="background-image: url('assets/img/slide-1.jpg')"></div>
			<div class="bg bg--sm" style="background-image: url('assets/img/slide-1-wide.jpg')"></div>
			<div class="slide__body">
				<p><em>Welcome to Banyan Tree</em></p>
				<hr class="rule rule--inverse" />
				<h2 class="slide__head">Your sanctuary for the senses</h2>
				<a href="#" class="button button--outlined-alt">watch video <i class="icon icon--play"></i></a>
			</div>
			<div class="slide__footer">
				<p><em>Ungasan, Bali, Indonesia</em></p>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<form action="#" id="booking">
			<button type="button" class="booking__toggle button button--primary">Book now</button>

			<div class="booking">
				<div class="booking__field">
					<select id="booking_destination" name="destination">
						<optgroup label="China">
							<option value="1">Banyan Tree Chongqing Beibei</option>
							<option value="2" selected>Banyan Tree Hangzhou</option>
							<option value="3">Banyan Tree Huangshan</option>
							<option value="4">Banyan Tree Jiuzhaigou</option>
							<option value="5">Banyan Tree Shanghai On The Bund</option>
						</optgroup>
						<optgroup label="Laos">
							<option value="1">Banyan Tree Chongqing Beibei</option>
							<option value="2">Banyan Tree Hangzhou</option>
							<option value="3">Banyan Tree Huangshan</option>
							<option value="4">Banyan Tree Jiuzhaigou</option>
							<option value="5">Banyan Tree Shanghai On The Bund</option>
						</optgroup>
					</select>
				</div>

				<div class="booking__field">
					<input type="text" placeholder="Select a date" name="daterange" />
					<input type="date" placeholder="Check in" name="daterange_in" />
					<input type="date" placeholder="Check out" name="daterange_out" />
				</div>

				<div class="booking__field">
					<div class="multiinput">
						<a class="multiinput__handle"><span>Rooms/Guests</span></a>
						<div class="multiinput__inputs">
							<label for="rooms">
								<span>Rooms</span>
								<input type="number" name="rooms" min="0" />
							</label>
							<label for="adults">
								<span>Adults</span>
								<input type="number" name="adults" min="0" />
							</label>
							<label for="children">
								<span>Children</span>
								<input type="number" name="children" min="0" />
							</label>
						</div>
					</div>
				</div>

				<div class="booking__field">
					<input type="text" placeholder="Promo code" />
				</div>

				<div class="booking__field">
					<button type="submit" class="button--primary">Book now</button>
				</div>

				<div class="booking__field">
					<a href="#">
						<img src="assets/img/logo-bestprice-120x40.png" alt="Best price guarantee">
					</a>
				</div>

				<div class="booking__field">
					<button type="button" class="button button--text">Modify booking</button>
				</div>
			</div>
		</form>
	</div>
</section>

<section>
	<div class="container">
		<h2 class="section-title">Discover your dream destination</h2>
		<div class="filterview filterview--inline filterview--compact">
			<div class="filterview__frame">
				<div class="filterview__toggle">
					<button class="button button--secondary" type="button" id="toggle_filter_button">Filter by</button>
				</div>
				<div class="filters">
					<form id="filter_location">
						<div class="toggles">
							<div class="toggle">
								<input type="checkbox" id="brandBanyan" name="brands[]" value="banyan" checked>
								<label for="brandBanyan">
									<i class="icon icon--fullbrand-banyan-i"></i>
									<i class="icon icon--fullbrand-banyan"></i>
								</label>
							</div>
							<div class="toggle">
								<input type="checkbox" id="brandAngsana" name="brands[]" value="angsana" checked>
								<label for="brandAngsana">
									<i class="icon icon--fullbrand-angsana-i"></i>
									<i class="icon icon--fullbrand-angsana"></i>
								</label>
							</div>
							<div class="toggle">
								<input type="checkbox" id="brandCassia" name="brands[]" value="cassia" checked>
								<label for="brandCassia">
									<i class="icon icon--fullbrand-cassia-i"></i>
									<i class="icon icon--fullbrand-cassia"></i>
								</label>
							</div>
							<div class="toggle">
								<input type="checkbox" id="brandDhawa" name="brands[]" value="dhawa" checked>
								<label for="brandDhawa">
									<i class="icon icon--fullbrand-dhawa-i"></i>
									<i class="icon icon--fullbrand-dhawa"></i>
								</label>
							</div>
						</div>

						<div class="multiselect">
							<button type="button" class="multiselect__toggle">
								<span>All countries</span>
							</button>
							<div class="multiselect__options" id="countries_option"></div>
						</div>

						<div class="multiselect">
							<button type="button" class="multiselect__toggle">
								<span>All destinations</span>
							</button>
							<div class="multiselect__options" id="destinations_option"></div>
						</div>

						<div class="filters__action">
							<button id="submitFilter" class="button button--secondary">Apply</button>
						</div>
					</form>
				</div>
				<div class="filterview__switches">
					<button class="button button--icon"><i class="icon icon--view-grid"></i></button>
					<button class="button button--icon"><i class="icon icon--view-map"></i></button>
					<button class="button button--icon"><i class="icon icon--view-list"></i></button>
				</div>
			</div>
		</div>

		<div class="destinations__select--mobile">
			<div class="collapsible select__category">
				<div class="select__header collapsible__mark">
					<span>22</span>
					<img src="assets/img/category-asia.jpg" alt="Asia">
					<h4>Asia</h4>
				</div>
				<div class="collapsible__body select__body">
					<h5>Indonesia</h5>
					<ul>
						<li class="brand-1"><a href="/">Banyan Tree Bintan</a></li>
						<li class="brand-1"><a href="/">Banyan Tree Ungsan, Bali</a></li>
						<li class="brand-2"><a href="/">Angsana Bintan</a></li>
						<li class="brand-3"><a href="/">Cassia Bintan</a></li>
					</ul>
					<h5>Laos</h5>
					<ul>
						<li class="brand-2"><a href="/">Angsana Maison Souvannaphoum</a></li>
					</ul>
				</div>
			</div>
			<div class="collapsible select__category">
				<div class="select__header collapsible__mark">
					<span>17</span>
					<img src="assets/img/category-china.jpg" alt="Mainland China">
					<h4>Mainland China</h4>
				</div>
				<div class="collapsible__body select__body">
					<h5>Indonesia</h5>
					<ul>
						<li class="brand-1"><a href="/">Banyan Tree Bintan</a></li>
						<li class="brand-1"><a href="/">Banyan Tree Ungsan, Bali</a></li>
						<li class="brand-2"><a href="/">Angsana Bintan</a></li>
						<li class="brand-3"><a href="/">Cassia Bintan</a></li>
					</ul>
					<h5>Laos</h5>
					<ul>
						<li class="brand-2"><a href="/">Angsana Maison Souvannaphoum</a></li>
					</ul>
				</div>
			</div>
			<div class="collapsible select__category">
				<div class="select__header collapsible__mark">
					<span>3</span>
					<img src="assets/img/category-northamerica.jpg" alt="North America">
					<h4>North America</h4>
				</div>
				<div class="collapsible__body select__body">
					<h5>Indonesia</h5>
					<ul>
						<li class="brand-1"><a href="/">Banyan Tree Bintan</a></li>
						<li class="brand-1"><a href="/">Banyan Tree Ungsan, Bali</a></li>
						<li class="brand-2"><a href="/">Angsana Bintan</a></li>
						<li class="brand-3"><a href="/">Cassia Bintan</a></li>
					</ul>
					<h5>Laos</h5>
					<ul>
						<li class="brand-2"><a href="/">Angsana Maison Souvannaphoum</a></li>
					</ul>
				</div>
			</div>
			<div class="collapsible select__category">
				<div class="select__header collapsible__mark">
					<span>4</span>
					<img src="assets/img/category-southamerica.jpg" alt="South America">
					<h4>South America</h4>
				</div>
				<div class="collapsible__body select__body">
					<h5>Indonesia</h5>
					<ul>
						<li class="brand-1"><a href="/">Banyan Tree Bintan</a></li>
						<li class="brand-1"><a href="/">Banyan Tree Ungsan, Bali</a></li>
						<li class="brand-2"><a href="/">Angsana Bintan</a></li>
						<li class="brand-3"><a href="/">Cassia Bintan</a></li>
					</ul>
					<h5>Laos</h5>
					<ul>
						<li class="brand-2"><a href="/">Angsana Maison Souvannaphoum</a></li>
					</ul>
				</div>
			</div>
			<div class="collapsible select__category">
				<div class="select__header collapsible__mark">
					<span>1</span>
					<img src="assets/img/category-europe.jpg" alt="Europe">
					<h4>Europe</h4>
				</div>
				<div class="collapsible__body select__body">
					<h5>Indonesia</h5>
					<ul>
						<li class="brand-1"><a href="/">Banyan Tree Bintan</a></li>
						<li class="brand-1"><a href="/">Banyan Tree Ungsan, Bali</a></li>
						<li class="brand-2"><a href="/">Angsana Bintan</a></li>
						<li class="brand-3"><a href="/">Cassia Bintan</a></li>
					</ul>
					<h5>Laos</h5>
					<ul>
						<li class="brand-2"><a href="/">Angsana Maison Souvannaphoum</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>


<section>
    <div class="map" id="location_view" data-view-type-default="map" data-view-details="true"></div>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
</section>


<section>
	<div class="container">
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<h2 class="section-title">Uncover our offers</h2>
	<hr class="rule rule--ornament" />
	<p class="lead">Rediscover the romance of travel at our resorts. Find below a range of exclusive offers and hand-crafted experiences to inspire your next trip.</p>
	<p>&nbsp;</p>
	<div class="cards cards--grid">
		<div class="card">
			<a href="/">
				<div class="card__head">
					<img src="assets/img/card-offers-1.jpg" alt="Night on us">
				</div>
				<div class="card__body">
					<h4>Night on us</h4>
					<hr class="rule rule--centered">
					<p>Ignite the spark with your loved one. Experience an interlude of romance in your sanctuary.</p>
				</div>
			</a>
		</div>
		<div class="card">
			<a href="/">
				<div class="card__head">
					<img src="assets/img/card-offers-2.jpg" alt="Night on us">
				</div>
				<div class="card__body">
					<h4>Credit Goes To You</h4>
					<hr class="rule rule--centered">
					<p>Cherish family moments together. Spend quality time and reconnect.</p>
				</div>
			</a>
		</div>
		<div class="card">
			<a href="/">
				<div class="card__head">
					<img src="assets/img/card-offers-3.jpg" alt="Night on us">
				</div>
				<div class="card__body">
					<h4>Sense Of Rejuvenation</h4>
					<hr class="rule rule--centered">
					<p>Rejuvenate body, mind and soul in your perfect sanctuary.</p>
				</div>
			</a>
		</div>
		<div class="card">
			<a href="/">
				<div class="card__head">
					<img src="assets/img/card-offers-4.jpg" alt="Night on us">
				</div>
				<div class="card__body">
					<h4>Meaningful Connections</h4>
					<hr class="rule rule--centered">
					<p>Where business meets rejuvenation. There is a Banyan Tree for all your event needs.</p>
				</div>
			</a>
		</div>
	</div>
	<p class="text-center"><a href="#" class="button">view all offers <i class="icon icon--chevron-right"></i></a></p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	</div>
</section>

<section>
	<div class="container">
		<h2 class="section-title">See what others are saying about us</h2>
		<hr class="rule rule--ornament" />
		<p>&nbsp;</p>
		<div id="widget-f74afa95f49f56ca767fb0482b653682caf6a976b983dd196291dc559e84" data-lmwidget="f74afa95f49f56ca767fb0482b653682caf6a976b983dd196291dc559e84"></div>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>
</section>
<div class="vernacular">
	<div class="vernacular__box">
		<form action="/">
			<p>Would you like to proceed with [detected available language]?</p>
			<button class="button button--secondary" type="button">Continue &gt;</button>
			<hr class="rule rule--inverse">
			<p>Otherwise, these languages are also available:</p>
			<select name="language" id="language">
				<option value="cn">Chinese</option>
				<option value="en" selected>English</option>
				<option value="bm">Bahasa Melayu</option>
				<option value="fr">French</option>
			</select>
		</form>
	</div>
</div>
{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<link rel="stylesheet" href="./assets/css/chosen.css" />
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
{{/content}}

{{#content "end"}}
<script src="https://cdn.getlocalmeasure.com/embed/widgets.js" type="text/javascript" async></script>
<script src="./assets/js/slick-1.6.0.min.js"></script>
<script src="./assets/js/chosen.js"></script>
<script>
	$(function() {
		$('select:not(#language)').chosen({
			disable_search_threshold: 10,
			width: 180
		});
	});
</script>
<script src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script>
	$(function() {
		$('input[name="daterange"]').daterangepicker({
			autoApply: true,
			locale: {
				format: 'D MMM'
			}
		});
	});
</script>
{{> partials/scripts.language }}

<!-- MAPS -->
{{> partials/scripts.json-location }}
<script src="./assets/js/markerclusterer.js"></script>
<script src="./assets/js/maps.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJSD9TjIt4qrTs1MIOztDGXprEshyGPkw&callback=onGMapLoaded"></script>
<script>
$(function() {
  _data.set(window.BTMAP_LOCATIONS);
  _filter.init();
  _cards.init();
  _map.init();
});
</script>
<!-- /MAPS -->

{{/content}}

{{/extend}}
