{{#extend "layouts/base"}} {{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li class="active">Spa</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="primary">
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>Brand Story</h1>
        <hr class="rule" />
        <p class="text-primary"><em>A Sanctuary For The Senses</em></p>
        <div class="slides slides--inline">
          <div class="slide">
            <a class="slide__image" href="assets/img/spa-brand-slide1.jpg" title="Spa Brandstory 1"></a>
          </div>
          <div class="slide">
            <a class="slide__image" href="assets/img/spa-brand-slide1.jpg" title="Spa Brandstory 2"></a>
          </div>
          <div class="slide">
            <a class="slide__image" href="assets/img/spa-brand-slide1.jpg" title="Spa Brandstory 3"></a>
          </div>
        </div>
        <p>Discover complete rejuvenation with the exclusively crafted Sense of Wellness experience. Enjoy pure indulgence over 5 days 4 nights at the award-winning Banyan Tree Spa Sanctuary. Learn from experts in different wellness-related fields and specialists from Banyan Tree Spa Academy.</p>
        <p>Take your pick from a selection of six wellness packages and relish in a quiet time to recharge. Designed to meet all your needs with inclusions such as spa treatments, wholesome cuisine, yoga, meditation and surfing, rediscover wellness in the luxurious surrounds of Banyan Tree Spa Sanctuary.</p>
        <p>Kindly share your preferred wellness package with our Banyan Tree Spa host upon arrival. Bookings for your spa treatments will be arranged during check-in as well.</p>
        <p>Like the tropical and sacred tree from which it got its name, the Banyan Tree Spa offers guests a Sanctuary for the Senses – a place for physical, mental and spiritual renewal. To achieve this, the spa focuses on a non-clinical and holistic approach based on traditional Asian healing therapies. It emphasizes on a ‘high-touch, low-tech’ approach that celebrates the human touch and the use of natural herbs and spices.</p>
      </main>
      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="buttons">
          <button class="button button--primary">Enquiry More</button>
        </div>
        <div class="sidebar__links">
          <ul class="nav nav--sidebar">
            <li><a href="/">Spa Overview</a></li>
            <li><a href="/">Brand Story</a></li>
            <li><a href="/">Signature Treatment</a></li>
          </ul>
        </div>
        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>
<section class="special-occasion">
  <div class="container">
    <h2 class="section-title">Discover More</h2>
    <hr class="rule rule--ornament" />
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>&nbsp;</p>
    <div class="cards cards--grid">
      <div class="card">
        <div class="card__head">
          <img src="assets/img/spa-offer-1.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Spa Offer 1</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read more &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/spa-offer-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Special Offer 2</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read more &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/spa-body-treats.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Body Treats</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read more &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/spa-wellness.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Wellness Journeys</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">View Anniversary &gt;</a>
          </p>
        </div>
      </div>
      <div class="card card--filler"></div>
    </div>

    <h2 class="section-title">Less is more</h2>
    <hr class="rule rule--ornament" />
    <p class="lead">Just an example to show uneven cards</p>

    <div class="cards cards--grid">
      <div class="card">
        <div class="card__head">
          <img src="assets/img/spa-offer-1.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Spa Offer 1</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read more &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/spa-offer-2.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Special Offer 2</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read more &gt;</a>
          </p>
        </div>
      </div>
      <div class="card card--filler"></div>
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</section>
{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
<link rel="stylesheet" href="./assets/css/lightbox.css" />
{{/content}}

{{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
<script src="./assets/js/lightbox.js"></script>
{{/content}}

{{/extend}}
