{{#extend "layouts/base"}} {{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li class="active">Press Releases</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="primary">
  <div class="container">
    <div class="row">
      <main class="col-md-12 col-lg-9">
        <div class="row">
          <div class="col-sm-4">
            <h1>Press Releases</h1>
            <hr class="rule" />
          </div>
          <div class="col-sm-8">
            <form id="filter_press_releases" class="filter filter--inline">
              Filter by: &nbsp;
              <div class="filter__field">
                <select name="property" id="pr_filter_property">
                  <option value="">Global</option>
                </select>
              </div>
              <div class="filter__field">
                <select name="year" id="pr_filter_year">
                  <option value="" selected>Any year</option>
                  <option value="2017">2017</option>
                  <option value="2016">2016</option>
                  <option value="2015">2015</option>
                  <option value="2014">2014</option>
                  <option value="2013">2013</option>
                </select>
              </div>
              <div class="filter__field">
                <select name="month" id="pr_filter_month">
                  <option value="" selected>Any month</option>
                  <option value="0">January</option>
                  <option value="1">February</option>
                  <option value="2">March</option>
                  <option value="3">April</option>
                  <option value="4">May</option>
                  <option value="5">June</option>
                  <option value="6">July</option>
                  <option value="7">August</option>
                  <option value="8">September</option>
                  <option value="9">October</option>
                  <option value="10">November</option>
                  <option value="11">December</option>
                </select>
              </div>
            </form>
          </div>
        </div>
        <div class="filterable" id="press_releases">
          <article data-release-property="Global" data-release-date="2017-01-01">
            <figure>
              <img src="assets/img/press-release1.jpg" class="img-responsive">
              <figcaption class="text-primary">
                <p>Press Release – Banyan Tree and Vanke Form Strategic Partnership</p>
                <p><em>Singapore - 23 January 2017</em></p>
              </figcaption>
            </figure>
            <p>Banyan Tree Holdings Limited (Banyan Tree) and China Vanke Co., Ltd (Vanke) have agreed to create Banyan Tree China (BTC), a new joint venture between Banyan Tree and Vanke, to consolidate the ownership of Banyan Tree-branded hotels and assets in China. The amount of initial paid-up capital of BTC is estimated to be no more than RMB2,000 million. BTC will also be the development and management platform for new projects by both parties in hospitality, senior-living and wellness.</p>
            <p class="inline-links">
              <a href="#">Download PDF</a>
              <a href="#">SGX Announcement on Strategic Partnership between Banyan Tree and Vanke ></a>
            </p>
            <p>&nbsp;</p>
          </article>
          <article data-release-property="Hangzhou" data-release-date="2016-05-01">
            <figure>
              <img src="assets/img/press-release2.jpg" class="img-responsive">
              <figcaption class="text-primary">
                <p>Coconut paradise at Banyan Tree Samui</p>
                <p><em>Koh Samui, Thailand - June 2016</em></p>
              </figcaption>
            </figure>
            <p>Samui can be called ‘The Island of Coconuts’ as they can be found throughout the whole island and the coconut industry is the second strongest here after tourism. Moreover, locals say that Samui coconuts are the best in Thailand and there are 101 ways to enjoy them!Banyan Tree Samui invites guests to sample the coconut spirit of Samui while relaxing in the comfort of the pool villas set amid the privacy of the resort’s bay as well as enjoy pampering at the award-winning Banyan Tree Spa Samui or enjoy delicious cuisine at the resort’s signature restaurants.</p>
            <p class="inline-links">
              <a href="#">Download PDF</a>
              <a href="#">SGX Announcement on Strategic Partnership between Banyan Tree and Vanke ></a>
            </p>
            <p>&nbsp;</p>
          </article>
          <article data-release-property="Laos" data-release-date="2016-06-01">
            <figure>
              <img src="assets/img/press-release3.jpg" class="img-responsive">
              <figcaption class="text-primary">
                <p>Banyan Tree Hotels &amp; Resorts commemorate World Environment Day 2016 with Global Clean-up Initiative</p>
                <p><em>Singapore - 10 July 2017</em></p>
              </figcaption>
            </figure>
            <p>To commemorate World Environment Day on 5th June 2016, Banyan Tree Hotels &amp; Resorts invites guests and resort associates to participate in a special project to improve the environment under its global Stay for Good Greening Communities Together initiative. To raise awareness and make a positive impact on the environment and surrounding communities, each hotel and resort will roll out clean-up programmes in their surrounding areas.</p>
            <p class="inline-links">
              <a href="#">Download PDF</a>
              <a href="#">SGX Announcement on Strategic Partnership between Banyan Tree and Vanke ></a>
            </p>
          </article>
          <article data-release-property="Global" data-release-date="2017-01-01">
            <figure>
              <img src="assets/img/press-release1.jpg" class="img-responsive">
              <figcaption class="text-primary">
                <p>Press Release – Banyan Tree and Vanke Form Strategic Partnership</p>
                <p><em>Singapore - 23 January 2017</em></p>
              </figcaption>
            </figure>
            <p>Banyan Tree Holdings Limited (Banyan Tree) and China Vanke Co., Ltd (Vanke) have agreed to create Banyan Tree China (BTC), a new joint venture between Banyan Tree and Vanke, to consolidate the ownership of Banyan Tree-branded hotels and assets in China. The amount of initial paid-up capital of BTC is estimated to be no more than RMB2,000 million. BTC will also be the development and management platform for new projects by both parties in hospitality, senior-living and wellness.</p>
            <p class="inline-links">
              <a href="#">Download PDF</a>
              <a href="#">SGX Announcement on Strategic Partnership between Banyan Tree and Vanke ></a>
            </p>
            <p>&nbsp;</p>
          </article>
          <article data-release-property="Hangzhou" data-release-date="2016-05-01">
            <figure>
              <img src="assets/img/press-release2.jpg" class="img-responsive">
              <figcaption class="text-primary">
                <p>Coconut paradise at Banyan Tree Samui</p>
                <p><em>Koh Samui, Thailand - June 2016</em></p>
              </figcaption>
            </figure>
            <p>Samui can be called ‘The Island of Coconuts’ as they can be found throughout the whole island and the coconut industry is the second strongest here after tourism. Moreover, locals say that Samui coconuts are the best in Thailand and there are 101 ways to enjoy them!Banyan Tree Samui invites guests to sample the coconut spirit of Samui while relaxing in the comfort of the pool villas set amid the privacy of the resort’s bay as well as enjoy pampering at the award-winning Banyan Tree Spa Samui or enjoy delicious cuisine at the resort’s signature restaurants.</p>
            <p class="inline-links">
              <a href="#">Download PDF</a>
              <a href="#">SGX Announcement on Strategic Partnership between Banyan Tree and Vanke ></a>
            </p>
            <p>&nbsp;</p>
          </article>
          <article data-release-property="Laos" data-release-date="2016-06-01">
            <figure>
              <img src="assets/img/press-release3.jpg" class="img-responsive">
              <figcaption class="text-primary">
                <p>Banyan Tree Hotels &amp; Resorts commemorate World Environment Day 2016 with Global Clean-up Initiative</p>
                <p><em>Singapore - 10 July 2017</em></p>
              </figcaption>
            </figure>
            <p>To commemorate World Environment Day on 5th June 2016, Banyan Tree Hotels &amp; Resorts invites guests and resort associates to participate in a special project to improve the environment under its global Stay for Good Greening Communities Together initiative. To raise awareness and make a positive impact on the environment and surrounding communities, each hotel and resort will roll out clean-up programmes in their surrounding areas.</p>
            <p class="inline-links">
              <a href="#">Download PDF</a>
              <a href="#">SGX Announcement on Strategic Partnership between Banyan Tree and Vanke ></a>
            </p>
          </article>
        </div>
      </main>
    </div>
    <p>&nbsp;</p>
  </div>
</section>
{{/content}} 

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/chosen.css" />
{{/content}}

{{#content "end"}}
<script src="./assets/js/chosen.js"></script>
{{/content}} {{/extend}}
