{{#extend "layouts/base"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li class="active"><i class="icon icon--home"></i>Home</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="primary">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h2>Template List</h2>
        <hr class="rule"/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h4>Global Pages</h4>
        <ul>
          <li><a target="_blank" href="/global-landing.html">Landing Page</a></li>
          <li><a target="_blank" href="/global-best-price.html">Best Price</a></li>
          <li><a target="_blank" href="/global-best-price-form.html">Best Price Form</a></li>
          <li><a target="_blank" href="/global-brand-story.html">Brand Story</a></li>
          <li><a target="_blank" href="/global-findahotel.html">Find A Hotel</a></li>
          <li><a target="_blank" href="/global-gifting.html">Gifting</a></li>
          <li><a target="_blank" href="/global-offers.html">Offers</a></li>
          <li><a target="_blank" href="/global-offers-detail.html">Offers Detail</a></li>
          <li><a target="_blank" href="/global-event.html">Event</a></li>
          <li><a target="_blank" href="/global-event-findavenue.html">Event - Find  Venue</a></li>
          <li><a target="_blank" href="/global-event-package.html">Event Package</a></li>
          <li><a target="_blank" href="/global-opening.html">Opening</a></li>
          <li><a target="_blank" href="/global-press-releases.html">Press Releases</a></li>
          <li><a target="_blank" href="/global-residences.html">Residences</a></li>
          <li><a target="_blank" href="/global-rfp-form.html">Request for Proposal Form</a></li>
          <li><a target="_blank" href="/global-spa.html">Spa</a></li>
          <li><a target="_blank" href="/global-spa-brand-story.html">Spa Brand Story</a></li>
          <li><a target="_blank" href="/global-spa-signature-treatment.html">Spa Signature Treatment</a></li>
          <li><a target="_blank" href="/global-upcoming-hotel.html">Upcoming Hotel</a></li>
          <li><a target="_blank" href="/global-wedding.html">Wedding</a></li>
          <li><a target="_blank" href="/global-wedding-findavenue.html">Wedding - Find a Venue</a></li>
          <li><a target="_blank" href="/global-wedding-detail.html">Wedding Detail (Proposal)</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4>Property Pages</h4>
        <ul>
          <li><a target="_blank" href="/property-landing.html">Landing Page</a></li>
          <li><a target="_blank" href="/property-activities.html">Activities</a></li>
          <li><a target="_blank" href="/property-dining.html">Dining</a></li>
          <li><a target="_blank" href="/property-dining-form.html">Dining Form</a></li>
          <li><a target="_blank" href="/property-dining-detail.html">Dining Detail</a></li>
          <li><a target="_blank" href="/property-dining-thank-you.html">Dining Thank You</a></li>
          <li><a target="_blank" href="/property-event.html">Event</a></li>
          <li><a target="_blank" href="/property-event-detail.html">Event Detail</a></li>
          <li><a target="_blank" href="/property-gallery.html">Gallery</a></li>
          <li><a target="_blank" href="/property-location.html">Location</a></li>
          <li><a target="_blank" href="/property-offers.html">Offers</a></li>
          <li><a target="_blank" href="/property-offers-detail.html">Offers Detail</a></li>
          <li><a target="_blank" href="/property-offers-detail-2.html">Offers Detail (Multiple)</a></li>
          <li><a target="_blank" href="/property-rooms.html">Rooms</a></li>
          <li><a target="_blank" href="/property-rooms-detail.html">Rooms Detail</a></li>
          <li><a target="_blank" href="/property-spa.html">Spa</a></li>
          <li><a target="_blank" href="/property-spa-signature.html">Spa Signature</a></li>
          <li><a target="_blank" href="/property-spa-wellness.html">Spa Wellness</a></li>
          <li><a target="_blank" href="/property-upcoming-hotel.html">Upcoming Hotels</a></li>
          <li><a target="_blank" href="/property-wedding.html">Wedding</a></li>
          <li><a target="_blank" href="/property-wedding-romance.html">Wedding Romance</a></li>
          <li><a target="_blank" href="/property-wedding-whitedove.html">Wedding White Dove</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <p>&nbsp;</p>
        <p><em>* Clicking on the links opens the page in a new window</em></p>
      </div>
    </div>
  </div>
</section>
{{/content}}

{{/extend}}
