{{#extend "layouts/base" property="true"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li><a href="">China</a></li>
          <li><a href="">Banyan Tree Huangshan </a></li>
          <li><a href="">Dining</a></li>
          <li class="active">Qing Feng</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="primary">
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>AU JARDIN D’EPICES</h1>
        <hr class="rule" />
        <p class="text-primary"><em>&quot;Sip a pot of famed Huangshan Maofeng tea&quot;</em></p>
        <p>Recline and relax in a setting of unsurpassed elegance. With stylishly contemporary décor and plush furnishings, Qing Feng is the perfect venue to unwind with a cup of tea. While away the time in blissful quietude and let your tensions unfurl and dissolve like steam.</p>
        <div class="slides slides--inline">
          <div class="slide">
            <a class="slide__image" href="assets/img/dine-1-1.jpg" title="Dine 1"></a>
          </div>
          <div class="slide">
            <a class="slide__image" href="assets/img/dine-1-1.jpg" title="Dine 2"></a>
          </div>
          <div class="slide">
            <a class="slide__image" href="assets/img/dine-1-1.jpg" title="Dine 3"></a>
          </div>
        </div>
        <ul class="spread spread--hasicons">
          <li><i class="icon icon--dine-fork-i"></i> Cuisine type: Thai Fusion</li>
          <li><i class="icon icon--dine-hanger-i"></i> Attire: Smart casual</li>
          <li><i class="icon icon--dine-clock-i"></i> <span>Operating hours:<br> lunch: 12:00 – 15:00<br> Dinner: 18:00 – 23:00</span></li>
        </ul>
      </main>
      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="sidebar__links">
          <ul class="nav nav--sidebar">
            <li><a href="/">Au Jardin d’Epices</a></li>
            <li><a href="/">Chez Lamar</a></li>
            <li><a href="/">Destination Dining</a></li>
            <li><a href="/">In-Villa Dining</a></li>
            <li><a href="/">La Varangue</a></li>
            <li><a href="/">Pool Bar</a></li>
            <li><a href="/">Saffron</a></li>
          </ul>
        </div>
        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>
        <div class="sidebar__contact">
          <p><em>Level 1</em></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendi</p>
          <p><i class="icon icon--ui-phone"></i> +86 559 2265 000</p>
          <p><i class="icon icon--ui-mail"></i> reservations-huangshan@banyantree.com</p>
        </div>
      </aside>
    </div>
  </div>
</section>
{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
<link rel="stylesheet" href="./assets/css/lightbox.css" />
{{/content}}

{{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
<script src="./assets/js/lightbox.js"></script>
{{/content}}

{{/extend}}
