{{#extend "layouts/base" property="true"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li><a href="">China</a></li>
          <li><a href="">Huangshan </a></li>
          <li><a href="">Events </a></li>
          <li class="active">Ballroom</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="primary">
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>Ballroom</h1>
        <hr class="rule" />
        <p class="text-primary"><em>Ut lobortis lorem risus, ac mattis elit varius sed.</em></p>
        <p>With a five-metre high ceiling, this 413 square metre ballroom was made for the grandest of opulent galas. Able to host 420 people in a classic setting featuring subtle touches of Banyan Tree hospitality with global modernity, the Banyan Ballroom in Banyan Tree Bangkok offers a lush evening of joyful celebration.</p>
        <div class="slides slides--inline">
          <div class="slide">
            <a class="slide__image" href="assets/img/p-event-1-1.jpg" title="Event 1"></a>
          </div>
          <div class="slide">
            <a class="slide__image" href="assets/img/p-event-1-1.jpg" title="Event 2"></a>
          </div>
          <div class="slide">
            <a class="slide__image" href="assets/img/p-event-1-1.jpg" title="Event 3"></a>
          </div>
        </div>
        <h2>Space For Every Occasion</h2>
        <hr class="rule" />
        <dl class="inline-definition">
          <dt>Size</dt>
          <dd>87.5sqm / 936sq ft</dd>
          <dt>Ceiling height</dt>
          <dd>4 metre</dd>
          <dt>Pillar</dt>
          <dd>Yes</dd>
          <dt>Location</dt>
          <dd>Indoor</dd>
          <dt>Ambience</dt>
          <dd>Seaview</dd>
        </dl>
        <ul class="infolist">
          <li>
            <i class="icon icon--facility-roundtable"></i>
            <strong class="text-primary">ROUND TABLE</strong>
            <p><i class="icon icon--ui-person"></i> 280</p>
          </li>
          <li>
            <i class="icon icon--facility-classroom"></i>
            <strong class="text-primary">CLASSROOM</strong>
            <p><i class="icon icon--ui-person"></i> 220</p>
          </li>
          <li>
            <i class="icon icon--facility-theatre"></i>
            <strong class="text-primary">THEATRE</strong>
            <p><i class="icon icon--ui-person"></i> 420</p>
          </li>
          <li>
            <i class="icon icon--facility-ushape"></i>
            <strong class="text-primary">U-SHAPE</strong>
            <p><i class="icon icon--ui-person"></i> 75</p>
          </li>
          <li>
            <i class="icon icon--facility-boardroom"></i>
            <strong class="text-primary">BOARDROOM</strong>
            <p><i class="icon icon--ui-person"></i> -</p>
          </li>
          <li>
            <i class="icon icon--facility-cocktail"></i>
            <strong class="text-primary">COCKTAIL</strong>
            <p><i class="icon icon--ui-person"></i> 400</p>
          </li>
        </ul>
        <!-- table specs -->
        <p class="text-primary"><em>Other</em></p>
        <hr class="rule" />
        <p>Flip Chart</p>
        <h2>Venue Equipments</h2>
        <hr class="rule">
        <ul class="spread">
          <li>Steam and Sauna Room</li>
          <li>Private Pool</li>
          <li>Gourmet Filled Pantry</li>
          <li>Jacuzzi</li>
          <li>5 point BOSE Surrounding Sound System</li>
        </ul>
        <a href="#" class="anchor">Download Overall Floorplan &gt;</i></a>
      </main>
      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="buttons">
          <button class="button button--primary">Request for Proposal</button>
          <button class="button button--primary">Overall Floorplan</button>
        </div>
        <div class="sidebar__links">
          <p><em>Explore more:</em></p>
          <ul class="nav nav--sidebar">
            <li><a href="/">Boardroom</a></li>
            <li><a href="/">Ballroom</a></li>
          </ul>
          <div class="sidebar__social">
            <p>&nbsp;</p>
            <p><em>Share this:</em></p>
            <ul>
              <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
              <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
              <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
              <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
              <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
              <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="sidebar__contact">
          <p><em>Address Details:</em></p>
          <p>No. 1 Banyan Tree Road, Hongcun Town, Yi Country, Huangshan, Anhui Province, China 245531</p>
          <p><i class="icon icon--ui-phone"></i> +86 559 2265 000</p>
          <p><i class="icon icon--ui-fax"></i> +86 559 226 5999</p>
          <p><i class="icon icon--ui-mail"></i> reservations-huangshan@banyantree.com</p>
          <p><a href="#">View Resort Map &gt;</a></p>
        </div>
      </aside>
    </div>
    <section>
      <p>&nbsp;</p>
      <h2 class="section-title">Our Offering To You</h2>
      <hr class="rule rule--ornament" />
      <div class="cards cards--grid">
        <div class="card">
          <a href="/">
            <div class="card__head">
              <img src="assets/img/p-event-1.jpg" alt="Night on us">
            </div>
            <div class="card__body">
              <h4>Half-Day Meeting Package</h4>
              <hr class="rule rule--centered">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="/">
            <div class="card__head">
              <img src="assets/img/p-event-2.jpg" alt="Night on us">
            </div>
            <div class="card__body">
              <h4>Full-Day Meeting Package</h4>
              <hr class="rule rule--centered">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="/">
            <div class="card__head">
              <img src="assets/img/p-event-3.jpg" alt="Night on us">
            </div>
            <div class="card__body">
              <h4>Meet for Good</h4>
              <hr class="rule rule--centered">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="/">
            <div class="card__head">
              <img src="assets/img/p-event-4.jpg" alt="Night on us">
            </div>
            <div class="card__body">
              <h4>Request for Proposal</h4>
              <hr class="rule rule--centered">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. Suspendisse nec augue consequat, efficitur nisl quis, sagittis justo. </p>
            </div>
          </a>
        </div>
      </div>
    </section>
  </div>
</section>
{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
<link rel="stylesheet" href="./assets/css/lightbox.css" />
{{/content}}

{{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
<script src="./assets/js/lightbox.js"></script>
{{/content}}

{{/extend}}
