{{#extend "layouts/base" property="true"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li class="active">Thank you</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <h2 class="section-title">Thank You</h2>
      <hr class="rule rule--ornament">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p>&nbsp;</p>
    </div>
  </div>
</section>

<section>
  <div class="story story--a">
    <figure>
      <div class="media">
        <img src="assets/img/story-spa-3.jpg" alt="Story 3" />
      </div>
      <figcaption>
        <p><i class="icon icon--brand-banyan"></i></p>
        <hr class="rule rule--centered">
        <p class="text-primary"><em>Banyan Tree China, Anhui Province</em></p>

        <dl>
          <dt>Restaurant: </dt>
          <dd>Qing Feng</dd>
          <dt>Name: </dt>
          <dd>James Tan</dd>
          <dt>Email: </dt>
          <dd>james@gmail.com</dd>
          <dt>Number of Pax: </dt>
          <dd>4</dd>
          <dt>Date: </dt>
          <dd>14 July 2017</dd>
          <dt>Time: </dt>
          <dd>6:30PM</dd>
        </dl>

      </figcaption>
    </figure>
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</section>
{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
{{/content}}

{{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
{{/content}}
{{/extend}}
