{{#extend "layouts/base" property="true"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li><a href="">China</a></li>
          <li><a href="">Banyan Tree Huangshan </a></li>
          <li><a href="">Rooms &amp; Villas</a></li>
          <li class="active">Two bedroom Hongcun Villa</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="primary">
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>Two Bedroom Hongcun Villa</h1>
        <hr class="rule" />
        <p class="text-primary"><em>&quot;Commune with the ones you love best in a perfect sanctuary&quot;</em></p>
        <p>Housing two king bedrooms at both floors, the Huangshan luxury villa faces the magnificent view of the misty mountain and thriving nature extending to the balcony doorway. With a total area of 160 square meters, the villa has a generous separate kitchen, a refined dining table, and sets of Hui-style chairs for either family staying and friends gathering.</p>
        <div class="slides slides--inline">
          <div class="slide">
            <a class="slide__image" href="assets/img/room-1-1.jpg" title="Two bedroom Hongcun Villa 1"></a>
          </div>
          <div class="slide">
            <a class="slide__image" href="assets/img/room-1-1.jpg" title="Two bedroom Hongcun Villa 2"></a>
          </div>
          <div class="slide">
            <a class="slide__video" href="http://v.youku.com/v_show/id_XMzA1NzE5NTM0MA==.html" title="Youku Video" data-preview="assets/img/room-1-1.jpg"></a>
          </div>
          <div class="slide">
            <a class="slide__video" href="https://www.youtube.com/watch?v=MY8-VX_pY8I" title="Youtube Video" data-preview="assets/img/preview-youku.jpg"></a>
          </div>
        </div>
        <ul class="spread spread--hasicons">
          <li><i class="icon icon--room-cap"></i> Capacity: 4</li>
          <li><i class="icon icon--room-bed"></i> Beds: King</li>
          <li><i class="icon icon--room-rate"></i> Rate: from USD$ 450 per night</li>
          <li><i class="icon icon--room-size"></i> Size: 113 sqm</li>
          <li><i class="icon icon--room-view"></i> View: Mountaiin View</li>
          <li><a href="/">Download Floor Plan</a></li>
        </ul>

        <h2>Room Features</h2>
        <hr class="rule" />

        <ul class="spread">
          <li>Steam and Sauna Room</li>
          <li>Private Pool</li>
          <li>Gourmet Filled Pantry</li>
          <li>Jacuzzi</li>
          <li>5 point BOSE Surrounding Sound System</li>
        </ul>

        <p><a href="/">Standard Room Amenities</a></p>
      </main>

      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="buttons">
          <button class="button button--primary">Check Availability</button>
        </div>

        <div class="sidebar__links">
          <p><em>Explore more:</em></p>
          <ul class="nav nav--sidebar">
            <li><a href="/">Ocean View Pool Villa</a></li>
            <li><a href="/">Intendance Bay View Pool Villa</a></li>
            <li><a href="/">Beachfront Pool Villa</a></li>
            <li><a href="/">Santuary Ocean View Pool Villa</a></li>
            <li><a href="/">Two-Bedroom Double Pool Villa</a></li>
            <li><a href="/">Spa Sanctuary Pool Villa</a></li>
            <li><a href="/">Royal Banyan Ocean View Pool</a></li>
            <li><a href="/">Villa - 1 Bedroom</a></li>
            <li><a href="/">Royal Banyan Ocean Pool</a></li>
            <li><a href="/">Villa - 2 Bedroom</a></li>
          </ul>
        </div>

        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>

        <div class="sidebar__contact">
          <p><em>Address Details:</em></p>
          <p>No. 1 Banyan Tree Road, Hongcun Town, Yi Country, Huangshan, Anhui Province, China 245531</p>
          <p><i class="icon icon--ui-phone"></i> +86 559 2265 000</p>
          <p><i class="icon icon--ui-fax"></i> +86 559 226 5999</p>
          <p><i class="icon icon--ui-mail"></i> reservations-huangshan@banyantree.com</p>
          <p><a href="#">View Resort Map ></a></p>
        </div>

      </aside>
    </div>
  </div>
</section>
{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
<link rel="stylesheet" href="./assets/css/lightbox.css" />
{{/content}}

{{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
<script src="./assets/js/lightbox.js"></script>
{{/content}}

{{/extend}}
