{{#extend "layouts/base-nofooter" property="true"}}

{{#content "main"}}
<section class="fullscreen">
  <div class="fs-slides">
    <div class="fs-slide" style="background-image: url('assets/img/fs-slide-bg--1.jpg');">
      <div class="fs-slide-content">
        <div class="fs-slide-content__bounds">
          <h1>Tianjin Riverside</h1>
          <h2><em>An Urban Oasis in the City</em></h2>
          <p>Situated in the emerging metropolis of Tianjin City in Hebei district, Banyan Tree Tianjin Riverside is a stylish contemporary urban resort with unparalleled views of the picturesque Hai river.</p>
          <a class="fs-overlay-btn" tabindex="0">Start the Journey</a>
          <p class="fs-overlay-social">
            <a target="_blank" href="#" tabindex="0"><img src="assets/img/icon-facebook.png" alt=""></a>
            <a target="_blank" href="#" tabindex="0"><img src="assets/img/icon-twitter.png" alt=""></a>
            <a target="_blank" href="#" tabindex="0"><img src="assets/img/icon-google-plus.png" alt=""></a>
            <a target="_blank" href="#" tabindex="0"><img src="assets/img/icon-pinterest.png" alt=""></a>
          </p>
        </div>
      </div>
    </div>

    <div class="fs-slide" style="background-image: url('assets/img/fs-slide-bg--1.jpg');">
      <a class="fs-slide-detail" href="http://www.banyantree.com" title="Lorem ipsum dolor sit.">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ex, quae et.</a>
    </div>

    <div class="fs-slide" style="background-image: url('assets/img/fs-slide-bg--2.jpg');">
      <a class="fs-slide-detail" href="http://www.on23rd.com" title="Deserunt facilis, voluptatibus laborum.">Et soluta est dolores debitis ducimus, cupiditate ipsam fugiat pariatur nisi, labore?</a>
    </div>

    <div class="fs-slide" style="background-image: url('assets/img/fs-slide-bg--3.jpg');">
      <a class="fs-slide-detail" href="http://www.google.com" title="Maxime fuga ipsum qui!">Sunt aperiam explicabo et, quos? Illo tempora distinctio laborum, voluptas, officiis aliquid?</a>
    </div>
    <div class="fs-slide" style="background-image: url('assets/img/fs-slide-bg--1.jpg');">
      <div class="fs-slide-content">
        <div class="fs-slide-content__bounds">
          <h2>SHARE THIS JOURNEY</h2>
          <p><a href="#" class="fs-overlay-btn">Visit Banyan Tree</a></p>
          <p class="fs-overlay-social">
            <a target="_blank" href="#"><img src="assets/img/icon-facebook.png" alt=""></a>
            <a target="_blank" href="#"><img src="assets/img/icon-twitter.png" alt=""></a>
            <a target="_blank" href="#"><img src="assets/img/icon-google-plus.png" alt=""></a>
            <a target="_blank" href="#"><img src="assets/img/icon-pinterest.png" alt=""></a>
          </p>
          <hr>
          <h2>YOU MIGHT ALSO LIKE</h2>
          <div class="fs-suggests">
            <a class="fs-suggest">
              <img src="assets/img/fs-suggest-1.jpg" alt="Banyan Tree Lijiang" />
              <span>Banyan Tree Lijiang</span>
            </a>
            <a class="fs-suggest">
              <img src="assets/img/fs-suggest-2.jpg" alt="Banyan Tree Yangshuo" />
              <span>Banyan Tree Yangshuo</span>
            </a>
          </div>
          <a class="fs-overlay-btn">View all destinations</a>
        </div>
      </div>
    </div>
  </div>
  <div class="fs-caption">
    <div class="fs-caption-title">
      <div class="fs-caption-title__icon">
        <img src="assets/img/icon-desc-close.png">
      </div>
      <div class="fs-caption-title__quickview">Quick view</div>
      <div class="fs-caption-title__text">
        <em>Reverside Suite</em>
      </div>
    </div>
    <div class="fs-caption-body">
      <div>
        <p>Set against the exceptional backdrop of the Hai River, the Riverside Suite is artfully decorated and replete with all creature comforts and more.</p>
      </div>
      <div>
      <a class="fs-caption-readmore" href="#">Read More &gt;</a>
      <p class="fs-social">
        <a target="_blank" href="#"><img src="assets/img/icon-facebook.png" alt=""></a>
        <a target="_blank" href="#"><img src="assets/img/icon-twitter.png" alt=""></a>
        <a target="_blank" href="#"><img src="assets/img/icon-google-plus.png" alt=""></a>
        <a target="_blank" href="#"><img src="assets/img/icon-pinterest.png" alt=""></a>
      </p>
    </div>
    </div>
  </div>
  <div class="fs-quickview fs-quickview--expanded">
    <div class="fs-quickview-title">
      <div class="fs-quickview__toggle">QUICK VIEW <i class="icon"></i></div>
    </div>
    <div class="fs-quickview-body">
      <div class="fs-quickview-thumbs">
        <table>
          <tbody>
            <tr></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{{/content}}


{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
<link rel="stylesheet" href="./assets/css/scrollbar.css" />
{{/content}}


{{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
<script src="./assets/js/scrollbar.js"></script>
<script>
$(function(){
  var $slider = $('.fs-slides').slick({
    fade: true,
    infinite: false
  });
  var $caption = $('.fs-caption');
  var $captionTitle = $caption.find('.fs-caption-title__text');
  var $captionBody = $caption.find('.fs-caption-body');
  var $captionReadmore = $caption.find('.fs-caption-readmore');
  var $startBtn = $('.fs-overlay-btn');
  var $quickview = $('.fs-quickview');
  var $thumbnails = $('.fs-quickview-thumbs');

  $('.fs-slide').each(function(i) {
    var imgUrl = $(this).css('background-image').replace(/^url|[\(\)]/g, '').replace('"', '');
    var $thumb = $('<td><div class="fs-quickview-thumb" style="background-image:url('+imgUrl+')"></div>');

    if (i === 0 || i === ($('.fs-slide').length - 1)) return;

    $thumb.on('click', function() {
      $slider.slick('slickGoTo', i);
    });

    $thumbnails.find('table tr').append($thumb);
  })

  $startBtn.on('click', function(e) {
    e.preventDefault();
    $slider.slick('slickNext');
  })

  $caption.on('click', '.fs-caption-title__text, .fs-caption-title__icon',function(e) {
    e.preventDefault();
    $caption.toggleClass('fs-caption--expanded')
  });

  $quickview.on('click', '.fs-quickview__toggle', function(e) {
    e.preventDefault();
    $quickview.toggleClass('fs-quickview--expanded');
  });

  $slider.on('afterChange', function(event, slick, current) {
    var $slide = $(slick.$slides[current]);
    var $slideDetail = $slide.find('.fs-slide-detail');
    var title = $slideDetail.attr('title');
    var link = $slideDetail.attr('href');
    var description = $slideDetail.html();

    $captionTitle.find('em').html(title);
    $captionBody.find('div:first-child').html(description);
    $captionReadmore.attr('href', link);

    if (current === 0 || current === (slick.$slides.length -1)) {
      $caption.removeClass('fs-caption--visible');
      $quickview.removeClass('fs-quickview--visible');
      return;
    }

    $caption.addClass('fs-caption--visible');
    $quickview.addClass('fs-quickview--visible');
  });

  $slider.on('beforeChange', function(event, slick, current, next) {
    if (next === 0 || next === (slick.$slides.length - 1)) {
      $caption.removeClass('fs-caption--visible');
      $quickview.removeClass('fs-quickview--visible');
    }
  });

  var scroller = new PerfectScrollbar($thumbnails.get(0), {
    suppressScrollY: true
  });

  $thumbnails.find('.fs-quickview-thumb').on('click', function(e) {
    e.preventDefault();
  })

});
</script>
{{/content}}

{{/extend}}
