{{#extend "layouts/base" property="true"}}

{{#content "main"}}
<section class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
                    <li><a href="">Langco</a></li>
                    <li><a href="">Wedding &amp; Romance</a></li>
                    <li class="active">Deluxe Harmony Package</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <main class="col-md-9 col-lg-8 col-sm-12">
                <h1>Romance &amp; Wedding</h1>
                <hr class="rule" />
                <p class="text-primary"><em>Uncover the tropical beauty of nature on an island made for soulmates.</em></p>
                <p>Be charmed within the sphere of a beautiful island cast adrift on the South China Sea. Come to Banyan Tree Bintan and explore forests lush with life or stroll along sun-touched shores of talcum-white sand with your beloved.</p>

                <div class="slides slides--inline">
                    <div class="slide">
                        <a class="slide__image" href="assets/img/slide-wedding-romance-1.jpg" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit."></a>
                    </div>
                    <div class="slide">
                        <a class="slide__image" href="assets/img/story-wedding-2.jpg" title="Donec maximus erat id tincidunt ultrices."></a>
                    </div>
                    <div class="slide">
                        <a class="slide__image" href="assets/img/story-wedding-3.jpg" title="Dolor sit amet, consectetur adipiscing elit."></a>
                    </div>
                </div>
                <p>&nbsp;</p>

                <h2>Tips for romantic getaway</h2>
                <hr class="rule" />
                <p>&nbsp;</p>

                <article>
                    <span class="circle">1</span>
                    <h2>Cliff Edge Destination Dining</h2>
                    <hr class="rule" />
                    <p>The most exclusive private dining occasion available is limited to two secluded locations within the resort. Your very own private "bale" pavilion is perched high in the breathtaking cliffs with the waves of the Indian Ocean breaking impressively below. An extravagant gourmet meal is served under the glittering night's sky.</p>
                    <div class="decor">
                        <img src="assets/img/opening-1.jpg" alt="Two bedroom Hongcun Villa 1" />
                    </div>
                </article>

                <article>
                    <span class="circle">2</span>
                    <h2>Dinner on the Rocks</h2>
                    <hr class="rule" />
                    <p>Experience romance in a dinner adventure set in the wild heart of nature. Ascend to the dramatic rocks by the beach, where a personal chef and waiter will orchestrate your dinner amidst the hypnotic sounds of the ocean. A symphony of waves surrounds you on all sides, affording complete privacy for the most intimate of tête-à-têtes.</p>
                    <div class="decor">
                        <img src="assets/img/opening-2.jpg" alt="Two bedroom Hongcun Villa 1" />
                    </div>
                </article>

                <article>
                    <span class="circle">3</span>
                    <h2>Romantic In-Villa Barbecue</h2>
                    <hr class="rule" />
                    <p>The outdoor terrace of your villa is the perfect setting for a truly romantic dining experience amidst garden torches, floating candles and flower petals. Your personal chef will prepare and cook the sumptuous romantic barbecue feast, while your waiter tends to your every need.</p>
                    <div class="decor">
                        <img src="assets/img/opening-3.jpg" alt="Two bedroom Hongcun Villa 1" />
                    </div>
                </article>
            </main>

            <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
                <div class="buttons">
                    <button class="button button--primary">Wedding Checklist</button>
                    <button class="button button--primary">Wedding Brochure</button>
                </div>
                <div class="sidebar__links">
                    <ul class="nav nav--sidebar">
                        <li><a href="/">Romance</a></li>
                        <li><a href="/">Intimate Proposal</a></li>
                        <li><a href="/">Wedding</a></li>
                        <li><a href="/">Blissful Honeymoon</a></li>
                        <li><a href="/">Anniversary</a></li>
                    </ul>
                </div>

                <div class="sidebar__social">
                    <p><em>Share this:</em></p>
                    <ul>
                        <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
                        <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
                        <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
                        <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
                        <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
                        <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
                    </ul>
                </div>

                <div class="sidebar__contact">
                    <p><em>Address Details:</em></p>
                    <p>No. 1 Banyan Tree Road, Hongcun Town, Yi Country, Huangshan, Anhui Province, China 245531</p>
                    <p><i class="icon icon--ui-phone"></i> +86 559 2265 000</p>
                    <p><i class="icon icon--ui-fax"></i> +86 559 226 5999</p>
                    <p><i class="icon icon--ui-mail"></i> reservations-huangshan@banyantree.com</p>
                </div>
            </aside>
        </div>
    </div>
    <p>&nbsp;</p>
</section>

<section>
    <div class="container">
        <h2 class="section-title">ROMANTIC DESTINATIONS</h2>
        <hr class="rule rule--ornament" />
        <p>&nbsp;</p>
    </div>
</section>

<section>
    <div class="container">
        <div class="inline-switches">
            <div class="switches">
                <button class="button button--icon" data-view-type="grid" data-view-type-default="true">
                    <i class="icon icon--view-grid"></i>
                </button>
                <button class="button button--icon" data-view-type="detail">
                    <i class="icon icon--view-detail"></i>
                </button>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="cards-set cards-set--grid" data-view-default="grid">
        <div class="cards-thead">
            <div>Property</div>
            <div>Total Space</div>
            <div>Round Table</div>
            <div>Classroom</div>
            <div>Theatre</div>
            <div>U-shape</div>
            <div>Boardroom</div>
            <div>Cocktail</div>
            <div>Others</div>
        </div>
        <div class="cards">
            <div class="card">
                <div class="card__head">
                    <img src="assets/img/location-huangzhou.jpg" alt="Property name">
                </div>
                <div class="card__body">
                    <h4>
                        <a href="#">Beachfront Lawn</a>
                        <a href="#" class="head-link">
                            <i class="icon icon--ui-camera"></i> View photos &gt;
                        </a>
                    </h4>
                    <hr class="rule rule--centered">
                    <p class="text-primary">
                        <em>Short description</em>
                    </p>
                    <ul class="list-tabular">

                        <li><span>538</span>sqft / <span>50</span>m<sup>2</sup></li>
                        <li class="grid-hidden"><span>120</span> Round Table</li>
                        <li class="grid-hidden"><span>-</span> Classroom</li>
                        <li class="grid-hidden"><span>100</span> Theatre</li>
                        <li class="grid-hidden"><span>60</span> U-shape</li>
                        <li class="grid-hidden"><span>-</span> Boardroom</li>
                        <li class="grid-hidden"><span>10</span> Free Standing</li>
                        <li class="others detail-shown">Dedicated Romance Concierge, Audio-visual equipment, Complimentary Wi-Fi, Customised stage, Convenient access to your choice of beachside reception venue</li>
                        <li class="icons detail-hidden">
                            <i class="icon icon--seats-a"></i>
                            <i class="icon icon--seats-b"></i>
                            <i class="icon icon--seats-c"></i>
                            <i class="icon icon--seats-d"></i>
                            <i class="icon icon--seats-e"></i>
                            <i class="icon icon--seats-f"></i>
                        </li>
                    </ul>
                </div>
                <div class="card__footer"></div>
            </div><div class="card">
                <div class="card__head">
                    <img src="assets/img/location-huangzhou.jpg" alt="Property name">
                </div>
                <div class="card__body">
                    <h4>
                        <a href="#">Beachfront Lawn</a>
                        <a href="#" class="head-link">
                            <i class="icon icon--ui-camera"></i> View photos &gt;
                        </a>
                    </h4>
                    <hr class="rule rule--centered">
                    <p class="text-primary">
                        <em>Short description</em>
                    </p>
                    <ul class="list-tabular">

                        <li><span>538</span>sqft / <span>50</span>m<sup>2</sup></li>
                        <li class="grid-hidden"><span>120</span> Round Table</li>
                        <li class="grid-hidden"><span>-</span> Classroom</li>
                        <li class="grid-hidden"><span>100</span> Theatre</li>
                        <li class="grid-hidden"><span>60</span> U-shape</li>
                        <li class="grid-hidden"><span>-</span> Boardroom</li>
                        <li class="grid-hidden"><span>10</span> Free Standing</li>
                        <li class="others detail-shown">Dedicated Romance Concierge, Audio-visual equipment, Complimentary Wi-Fi, Customised stage, Convenient access to your choice of beachside reception venue</li>
                        <li class="icons detail-hidden">
                            <i class="icon icon--seats-a"></i>
                            <i class="icon icon--seats-b"></i>
                            <i class="icon icon--seats-c"></i>
                            <i class="icon icon--seats-d"></i>
                            <i class="icon icon--seats-e"></i>
                            <i class="icon icon--seats-f"></i>
                        </li>
                    </ul>
                </div>
                <div class="card__footer"></div>
            </div><div class="card">
                <div class="card__head">
                    <img src="assets/img/location-huangzhou.jpg" alt="Property name">
                </div>
                <div class="card__body">
                    <h4>
                        <a href="#">Beachfront Lawn</a>
                        <a href="#" class="head-link">
                            <i class="icon icon--ui-camera"></i> View photos &gt;
                        </a>
                    </h4>
                    <hr class="rule rule--centered">
                    <p class="text-primary">
                        <em>Short description</em>
                    </p>
                    <ul class="list-tabular">

                        <li><span>538</span>sqft / <span>50</span>m<sup>2</sup></li>
                        <li class="grid-hidden"><span>120</span> Round Table</li>
                        <li class="grid-hidden"><span>-</span> Classroom</li>
                        <li class="grid-hidden"><span>100</span> Theatre</li>
                        <li class="grid-hidden"><span>60</span> U-shape</li>
                        <li class="grid-hidden"><span>-</span> Boardroom</li>
                        <li class="grid-hidden"><span>10</span> Free Standing</li>
                        <li class="others detail-shown">Dedicated Romance Concierge, Audio-visual equipment, Complimentary Wi-Fi, Customised stage, Convenient access to your choice of beachside reception venue</li>
                        <li class="icons detail-hidden">
                            <i class="icon icon--seats-a"></i>
                            <i class="icon icon--seats-b"></i>
                            <i class="icon icon--seats-c"></i>
                            <i class="icon icon--seats-d"></i>
                            <i class="icon icon--seats-e"></i>
                            <i class="icon icon--seats-f"></i>
                        </li>
                    </ul>
                </div>
                <div class="card__footer"></div>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
</section>

<section>
    <div class="container">
        <h2 class="section-title">ROMANCE PACKAGES</h2>
        <hr class="rule rule--ornament" />
        <p>&nbsp;</p>
        <div class="cards cards--grid">
            <div class="card">
                <div class="card__head">
                    <img src="assets/img/wedding-1.jpg" alt="Night on us">
                </div>
                <div class="card__body">
                    <h4>Find your perfect wedding location</h4>
                    <hr class="rule rule--centered">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
                </div>
                <div class="card__footer">
                    <p class="card__actions">
                        <a href="#">View all Location &gt;</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card__head">
                    <img src="assets/img/wedding-2.jpg" alt="Night on us">
                </div>
                <div class="card__body">
                    <h4>Intimate Proposals</h4>
                    <hr class="rule rule--centered">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
                </div>
                <div class="card__footer">
                    <p class="card__actions">
                        <a href="#">View Intimate Proposals &gt;</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card__head">
                    <img src="assets/img/wedding-3.jpg" alt="Night on us">
                </div>
                <div class="card__body">
                    <h4>Blissful Honeymoon</h4>
                    <hr class="rule rule--centered">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
                </div>
                <div class="card__footer">
                    <p class="card__actions">
                        <a href="#">View Blissful Honeymoon &gt;</a>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card__head">
                    <img src="assets/img/wedding-4.jpg" alt="Night on us">
                </div>
                <div class="card__body">
                    <h4>Anniversary</h4>
                    <hr class="rule rule--centered">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
                </div>
                <div class="card__footer">
                    <p class="card__actions">
                        <a href="#">View Anniversary &gt;</a>
                    </p>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</section>
{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
<link rel="stylesheet" href="./assets/css/lightbox.css" />
{{/content}}

{{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
<script src="./assets/js/lightbox.js"></script>
<script>
    $(function() {
        _view_toggle.init();
        _switcher.init();
    });
</script>
{{/content}}

{{/extend}}
