{{#extend "layouts/base" property="true"}}

{{#content "main"}}
<section class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="/"><i class="icon icon--home"></i>Home</a></li>
          <li class="active">Romance &amp; Wedding</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <main class="col-md-9 col-lg-8 col-sm-12">
        <h1>SIGNATURE TREATMENT</h1>
        <hr class="rule" />
        <p>A Sanctuary For The Senses</p>
        <p>Discover complete rejuvenation with the exclusively crafted Sense of Wellness experience.
        Enjoy pure indulgence over 5 days 4 nights at the award-winning Banyan Tree Spa Sanctuary.
        Learn from experts in different wellness-related fields and specialists from Banyan Tree Spa
        <div class="narrative">
          <div class="narrative__media">
              <img src="assets/img/story-spa-1.jpg" alt="Story">
          </div>
          <div class="narrative__entry">
            <div class="narrative__body">
              <h4>Officiis porro, voluptates voluptatibus.</h4>
              <hr class="rule"> 
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui amet eos beatae maxime accusantium rem doloribus pariatur minima a voluptatibus</p>
              <div class="buttons">
                <button class="button button--outlined" id="">Book a treatment</button>
                <button class="button button--outlined">Find out more</button>
              </div>
            </div>
          </div>          
        </div>
        <div class="narrative narrative--alt">
          <div class="narrative__media">
              <img src="assets/img/story-spa-2.jpg" alt="Story">
          </div>
          <div class="narrative__entry">
            <div class="narrative__body">
              <h4>Officiis porro, voluptates voluptatibus.</h4>
              <hr class="rule"> 
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui amet eos beatae maxime accusantium rem doloribus pariatur minima a voluptatibus</p>
              <div class="buttons">
                <button class="button button--outlined" id="">Book a treatment</button>
                <button class="button button--outlined">Find out more</button>
              </div>
            </div>
          </div>          
        </div>
      </main>

      <aside class="sidebar col-sm-12 col-md-3 col-lg-offset-1">
        <div class="buttons">
          <button class="button button--primary">Check Availability</button>
        </div>

        <div class="sidebar__links">
          <ul class="nav nav--sidebar">
            <li><a href="/">Shop the Banyan Tree Experience</a></li>
            <li><a href="/">Signature Treatment</a></li>
            <li><a href="/">Gift a loved onea</a></li>
            <li><a href="/">Banyan Tree Spa Academy</a></li>
          </ul>
        </div>

        <div class="sidebar__social">
          <p><em>Share this:</em></p>
          <ul>
            <li><a href="#"><i class="icon icon--social-fb"></i></a></li>
            <li><a href="#"><i class="icon icon--social-tw"></i></a></li>
            <li><a href="#"><i class="icon icon--social-yt"></i></a></li>
            <li><a href="#"><i class="icon icon--social-pin"></i></a></li>
            <li><a href="#"><i class="icon icon--social-ig"></i></a></li>
            <li><a href="#"><i class="icon icon--social-wei"></i></a></li>
          </ul>
        </div>

        <div class="sidebar__contact">
          <p><em>Address Details:</em></p>
          <p>No. 1 Banyan Tree Road, Hongcun Town, Yi Country, Huangshan, Anhui Province, China 245531</p>
          <p><i class="icon icon--ui-phone"></i> +86 559 2265 000</p>
          <p><i class="icon icon--ui-fax"></i> +86 559 226 5999</p>
          <p><i class="icon icon--ui-mail"></i> reservations-huangshan@banyantree.com</p>
        </div>

      </aside>
    </div>
  </div>
  <p>&nbsp;</p>
</section>

<section>
  <div class="container">
    <h2 class="section-title">SPA OFFERS</h2>
    <hr class="rule rule--ornament" />
    <p>&nbsp;</p>
    <div class="cards cards--grid">
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-thumb-21.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Spa Offer 1</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read More &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-thumb-22.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Spa Offer 2</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read More &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-thumb-23.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Spa Offer 3</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read More &gt;</a>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__head">
          <img src="assets/img/card-thumb-24.jpg" alt="Night on us">
        </div>
        <div class="card__body">
          <h4>Spa Offer 4</h4>
          <hr class="rule rule--centered">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus erat id tincidunt ultrices. </p>
        </div>
        <div class="card__footer">
          <p class="card__actions">
            <a href="#">Read More &gt;</a>
          </p>
        </div>
      </div>
    </div>
    <p>&nbsp;</p>
  </div>
</section>
{{/content}}

{{#content "styles"}}
<link rel="stylesheet" href="./assets/css/slick-1.6.0.css" />
{{/content}}

{{#content "end"}}
<script src="./assets/js/slick-1.6.0.min.js"></script>
{{/content}}

{{/extend}}
