.booking {
  display: none;

  @media (--bp-md) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  &--fixed {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    z-index: 99;
    height: 100vh;
  }

  &__field {
    padding: 0 10px;
    margin: 0;
  }

  & .button--text {
    text-transform: none;
    font-style: italic;
    border-bottom: 1px solid;
  }

  & input[type=text] {
    border: 0 none;
    border-bottom: 1px solid;
    height: 35px;
    font-style: italic;
    padding-top: 6px;
    width: 6em;
    font-size: 16px;
    border-radius: 0;

    &:focus {
      outline: none;
    }
  }

  & input[name=daterange] {
    min-width: 180px;
  }

  & input[name=daterange_in] {
    display: none;
    border: 0;
    border-bottom: 1px solid;
  }

  & input[name=daterange_out] {
    display: none;
    border: 0;
    border-bottom: 1px solid;
  }

  &__toggle {
    width: 300px;
    height: 45px;
    margin: 30px auto 20px;
    display: block;
    font-size: 16px;
    line-height: 45px;

    @media (--bp-md) {
      display: none;
    }
  }
}

.booking--fixed {
  & input[name=daterange] { display: none; }

  & input[name=daterange_in] {
    display: block;
  }
  & input[name=daterange_out] {
    display: block;
  }
}

.daterangepicker {
  padding: 0;

  & .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.chosen-container-single .chosen-single {
  background: transparent;
  border: 0 none;
  border-bottom: 1px solid;
  border-radius: 0;
  box-shadow: none;
  height: 35px;
  line-height: 40px;
  font-size: 16px;
  font-style: italic;
  padding-left: 0;
}
.chosen-container .chosen-drop {
  border: 0 none;
  border-radius: 0;
  min-width: 300px;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  background: transparent;
  border-top: 0 none;
  border-left: 0 none;
  border-right: 0 none;
}
.chosen-container .chosen-results li.group-result {
  padding-left: 20px;
  padding-right: 20px;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 20px;
  padding-right: 20px;
}
.chosen-container-single .chosen-drop {
  margin-top: 0;
}
.chosen-container .chosen-results {
  padding-left: 0;
  margin-right: 0;
}
.chosen-container .chosen-results li {
  padding-top: 8px;
  padding-bottom: 8px;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #377b4f;
  background: linear-gradient(#377b4f 20%, #377b4f 90%)
}

