.fullscreen,
.fullscreen body {
  height: 100%;
}

.fullscreen {
  overflow: hidden;

  & a {
    text-decoration: none;
    color: #fff;
  }

  & a:hover {
    color: #fff;
  }
}

.fs-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.fs-slides {
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;

  & .slick-list,
  & .slick-track {
    height: 100%;
  }
}

.slick-initialized.fs-slides {
  opacity: 1;
  visibility: visible;
}

.fs-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.fs-slide-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;

  &__bounds {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding: 20px 40px;
  }

  & h1 {
    font-size: 36px;
    color: #fff;

    &:before,
    &:after {
      content: '';
      background-color: #fff;
      display: inline-block;
      height: 2px;
      position: relative;
      vertical-align: middle;
      width: 10%;
    }

    &:before {
      right: 0.5em;
      margin-left: -50%;
    }

    &:after {
      left: 0.5em;
      margin-right: -50%;
    }

  }

  & h2 {
    color: #fff;
  }
}

.fs-slide-description {
  display: none;
}

/* slide caption */

.fs-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.75s;

  @media (--bp-md) {
    left: 20px;
    width: 351px;
  }

  @media (--bp-lg) {
    left: 40px;
    width: 460px;
  }

}

.fs-caption--visible {
  transform: translateY(0);
}

.fs-caption--expanded {
  & .fs-caption-body {
    max-height: 250px;
  }

  & .fs-caption-title__icon {
    & img {
      transform: rotate(45deg);
    }
  }

  & .fs-caption-title__text {
    & em {
      display: inline;
      white-space: initial;
    }
  }
}

.fs-caption-body {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  width: 100%;
  padding: 0 30px;
  font-size: 16px;
  overflow: auto;
  max-height: 0;
  transition: max-height 1s;

  @media (--bp-md) { width: 280px; }
  @media (--bp-lg) { width: 389px; }

  & > div {
    padding-bottom: 30px;
  }
}

.fs-caption-title {
  color: #fff;
  text-transform: capitalize;
  overflow: auto;
  font-size: 18px;
  cursor: pointer;

  @media (--bp-md) {
    font-size: 21px;
  }

  &__text {
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0.6);
    float: right;
    width: 100%;
    line-height: 1;

    @media (--bp-md) { width: 280px; }
    @media (--bp-lg) { width: 389px; }

    & em {
      overflow: hidden;
      white-space: pre;
      text-overflow: ellipsis;
      display: block;
    }
  }

  &__icon {
    background-color: rgba(0, 0, 0, 0.6);
    float: right;
    width: 70px;
    text-align: center;
    margin-bottom: 1px;
    padding-top: 16px;
    padding-bottom: 15px;

    @media (--bp-md) {
      margin-bottom: 0;
      margin-left: 1px;
    }

    & img {
      transform: rotate(0deg);
      transition: transform 0.5s;
    }
  }

  &__quickview {
    display: inline-block;
    padding: 20px;
    background: rgba(0, 0, 0, .6);
    text-transform: uppercase;
    font-size: 18px;

    @media (--bp-md) {
      display: none;
    }
  }
}

.fs-social {
  float: right;
  margin-bottom: 0;

  & img {
    width: 25px;
    height: auto;
    padding: 0 3px;
  }
}

/* quick view navigation */

.fs-quickview {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.75s;

  @media (--bp-md) {
    text-align: right;
    display: block;
    right: 20px;
    width: 60%;
  }

  @media (--bp-lg) {
    right: 40px;
  }

}

.fs-quickview--visible {
  @media (--bp-md) {
    transform: translateY(0);
  }
}

.fs-quickview-body {
  max-height: 0;
  overflow: auto;
  transition: max-height 1s;
  background-color: rgba(0, 0, 0, 0.6);
}

.fs-quickview__toggle {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
  margin-right: 0;
  display: inline-block;
  cursor: pointer;

  & .icon {
    transition: transform 0.5s;
    position: relative;

    &:before {
      content: '';
      border-style: solid;
      border-width: 1px 1px 0 0;
      display: inline-block;
      width: 0.45em;
      height: 0.45em;
      left: 0.15em;
      top: 0.55em;
      transform: rotate(-45deg);
      position: relative;
      vertical-align: top;
    }
  }

}

.fs-quickview--expanded {
  & .fs-quickview-body {
    max-height: 250px;
  }

  & .fs-quickview__toggle {
    & .icon {

      &:before {
        transform: rotate(135deg);
        top: 0.35em;
      }
    }
  }
}

.fs-quickview-thumbs {
  margin: 30px;
  position: relative;
  cursor: pointer;

  @media (--bp-sm) {
    display: block;
  }
}

.fs-quickview-thumb {
  width: 180px;
  padding-bottom: 60%;
  background-size: cover;
  background-position: 50% 50%;
}

.fs-overlay-btn {
  background: #007a4e;
  background-image: -o-linear-gradient(bottom, #1e8c63 0%, #1e8c63 50%, #007a4e 50%, #007a4e 100%);
  background-image: -moz-linear-gradient(bottom, #1e8c63 0%, #1e8c63 50%, #007a4e 50%, #007a4e 100%);
  background-image: -webkit-linear-gradient(bottom, #1e8c63 0%, #1e8c63 50%, #007a4e 50%, #007a4e 100%);
  background-image: -ms-linear-gradient(bottom, #1e8c63 0%, #1e8c63 50%, #007a4e 50%, #007a4e 100%);
  background-image: linear-gradient(to bottom, #1e8c63 0%, #1e8c63 50%, #007a4e 50%, #007a4e 100%);
  border: 1px solid #fff;
  letter-spacing: 0.02em;
  padding: 8px 15px 6px;
  font-weight: 100;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  box-shadow: 0 0 0px 2px #007a4e;
  outline-offset: 0;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;

  &:focus {
    outline: none;
  }
}

.fs-overlay-social {
  padding: 12px 0 0;
  margin-bottom: 0;

  & a {
    display: inline-block;
    vertical-align: middle;
  }

  & img {
    width: 35px;
    height: auto;
    padding: 5px 8px;
  }
}
.fs-suggests {
  margin-bottom: 10px;
}
.fs-suggest {
  display: inline-block;
  width: 40%;
  margin: 0 10px;
  cursor: pointer;

  &:hover {
    & img {
      opacity: 0.9;
    }
  }

  & img {
    max-width: 100%;
    margin-bottom: 4px;
    border: 2px solid var(--color-primary);
  }
}
