.prefooter {
  background-color: var(--color-primary);
  position: relative;
  padding: 10px 0 10px;

  @media (--bp-md) {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  & a {
    color: white;
  }
}

.prefooter--fixed {
  & .prefooter__sticky {
    position: fixed;
    top: auto;
    bottom: 0;
    z-index: 9;
    transform: translateY(0);
    transition: all 0.2s;
  }
}

.prefooter__sticky {
  position: absolute;
  width: 100%;
  top: -42px;
  transition: all 0.2s;

  &:after {
    content: '';
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: var(--color-primary);
    display: block;
  }
}

.prefooter__bounds {
  margin: 0 auto;

  @media (--bp-md) {
    width: 970px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
  }

  @media (--bp-lg) {
    width: 1170px;
  }
}

.prefooter__reception {
  display: none;
  margin: auto;
  text-align: right;

  @media (--bp-md) {
    display: block;
    width: 970px;
  }

  @media (--bp-lg) {
    width: 1170px;
  }

  & .button {
    margin: 0 5px;
  }

  & .icon {
    background-image: url('../img/icon-chat.png');
    vertical-align: middle;
    margin-right: 0.2em;

    &--chat { background-position: 0 0; }
  }
}

.prefooter__links {
  text-align: center;

  @media (--bp-md) {
    padding-bottom: 45px;
    flex: 1;
  }

  & .nav {
    padding: 0;

    & > li {
      border-bottom: 1px solid #66af95;

      @media (--bp-md) {
        display: inline-block;
        position: initial;
        border-bottom: 0 none;
      }

      &:not(:first-child):before {
        @media (--bp-md) {
          content: '';
          display: inline-block;
          vertical-align: middle;
          border-left: 1px solid white;
          height: 0.75em;
          margin: 0 0.4em;
          position: relative;
          top: 0.1em;
        }

        @media (--bp-lg) {
          margin: 0 1em;
        }
      }


      & > a {
        text-transform: uppercase;
        text-decoration: none;
        padding: 16px 0 12px;
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        outline: none;

        @media (--bp-md) {
          font-size: 14px;
        }

        @media (--bp-lg) {
          font-size: 15px;
        }

        &:not([href]) {
          &:after {
            content: '';
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid white;
            position: relative;
            top: -0.2em;
            margin-left: 0.4em;
            display: inline-block;
          }

          &:focus:after {
            border-top: 0;
            border-bottom: 5px solid white;
          }
        }

        &:hover {
          background-color: transparent;
        }

        &:focus {
          background-color: transparent;

          & + ul {
            max-height: 20em;
            padding: 0.3em 0;
          }
        }

        & + ul {
          background-color: var(--color-tertiary);
          padding: 0;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s, padding 0.3s;

          @media (--bp-sm) {
            position: absolute;
            width: 100%;
            left: 0;
            z-index: 1;
          }

          & li {
            @media (--bp-md) {
              display: inline-block;
            }
          }

          & a {
            padding: 6px 5px 3px;
            color: var(--color-text);
            text-transform: uppercase;
            display: block;
            text-decoration: none;

            @media (--bp-md) {
              font-size: 15px;
            }

            &:hover {
              text-decoration: none;
              color: var(--color-primary);
            }
          }
        }
      }
    }
  }
}

.prefooter__brands {
  text-align: center;

  @media (--bp-md) {
    text-align: left;
  }

  & h4 {
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
  }

  & ul {
    padding: 0;

    & > li {
      display: inline-block;
    }
  }

  & .brand {
    display: block;

    &:before {
      content: '';
      width: 70px;
      height: 70px;
      display: block;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--banyan { background-image: url('../img/brand-white-banyan.png'); }
    &--angsana { background-image: url('../img/brand-white-angsana.png'); }
    &--cassia { background-image: url('../img/brand-white-cassia.png'); }
    &--dhawa { background-image: url('../img/brand-white-dhawa.png'); }
  }
}

.prefooter__partners {
  text-align: center;
  @media (--bp-md) {
    text-align: left;
  }

  & h4 {
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
  }
}

.prefooter__social {
  padding: 1em 0;
  text-align: center;

  @media (--bp-md) {
    padding: 0;
    text-align: right;
  }

  & ul {
    padding: 0;

    & > li {
      display: inline-block;

      & a {
        display: block;
        font-size: 0;
        padding: 4px 8px;
        margin: 2px;
      }
    }
  }

  & .icon {
  }
}

.form--newsletter {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  max-width: 90%;
  margin: 0 auto;

  @media (--bp-md) {
    max-width: 100%;
  }

  & .icon {
    vertical-align: middle;
    background-image: url('../img/icon-mail.png');
    margin-left: 5px;
  }

  & input[type="email"] {
    border: 0 none;
    background: transparent;
    outline: none;
    font-style: italic;
    font-size: 16px;
    flex: 1;
  }

  & button {
    padding: 0 20px;
  }
}

#backToTop {
  position: absolute;
  top: 0;
  padding: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 125px;
  outline: none;
  display: none;

  @media (--bp-md) {
    display: block;
  }
}

