.mobile-sidebar {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s;

  &__head {
    & .button--close {
      margin-right: 0;
      margin-left: auto;
    }
  }

  &__body {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.6s;
    height: 0;
  }

  & .nav {
    position: relative;
    padding-top: 90px;
    max-height: 100%;
    overflow: scroll;
    padding-bottom: 20px;
    background: white;
    transition: all 0.5s;
    transform: translateY(-30px);
    opacity: 0;

    & a {
      color: var(--color-text);
      text-decoration: none;

      &:focus, &:hover {
        background: transparent;
        color: var(--color-primary);
      }

      &.active {
        color: var(--color-primary);
      }
    }
  }
}

.mobile-sidebar--expanded {
  & .mobile-sidebar {
    position: fixed;
    width: 100%;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    overflow: scroll;
    opacity: 1;

    &:before {
      content: '';
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
    }

    & .nav {
      transform: translateY(0);
      opacity: 1;
    }

    & .button {
      position: fixed;
      top: 60px;
      right: 12px;
      z-index: 2;
    }
  }

  & .mobile-sidebar__body {
    visibility: visible;
    opacity: 1;
    height: auto;
  }
}

.sidebar__links {
  display: none;

  @media (--bp-md) {
    display: block;
    padding-top: 10px;
  }
}

.sidebar
.nav--sidebar {
  & > li {
    line-height: 1;

    & > a {
      padding: 12px 0;
      position: relative;
      text-decoration: none;
      color: var(--color-text);

      @media (--bp-md) {

        &:before {
          content: '';
          width: 50px;
          height: 1px;
          background-color: green;
          position: absolute;
          bottom: 0;
        }
      }

      @media (--bp-lg) {
        font-size: 20px;
      }

      &:hover, &.active {
        background-color: transparent;
        color: var(--color-primary);
      }
    }
  }
}

.sidebar {
  @media (--bp-md) {
    border-left: 1px solid #cbcbcb;
  }

  @media (--bp-lg) { padding-left: 20px; }
  @media (--bp-xl) { padding-left: 30px; }

  & > * + * {
    @media (--bp-md) {
      margin-top: 20px;
    }
  }

  & p em {
    color: var(--color-primary);
    margin-bottom: 0;
  }

  & .buttons .button {

    & + .button {
      @media (--bp-md) {
        display: block;
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }
}

.sidebar__social {
  display: none;

  @media (--bp-md) {
    display: block;
  }

  & ul {
    padding: 0;
    margin: 0;

    & li {
      display: inline-block;

      & a {
        margin: 0 4px;
      }
    }
  }
}

.sidebar__contact {
  display: none;

  @media (--bp-md) {
    display: block;
    font-size: 15px;
  }

  @media (--bp-lg) {
    font-size: 16px;
  }

  & a {
    text-decoration: none;
  }
}

.sidebar__awards {
  display: none;

  @media (--bp-md) {
    display: block;
    font-size: 15px;
  }

  @media (--bp-lg) {
    font-size: 16px;
  }
}
